[2012-04-20 11:11] tonymorris opened #7 "ProductLens is not a lens"
The Lens category does not support a "fan-out" operation, sometimes called `&&&` and implemented as a method called `~` in shapeless.

`&&&` has the type `(A ~> B) => (A ~> C) => (A ~> (B, C))` where `~>` denotes the category. It is not possible to use the lens category here. While `&&&` is available on all arrows, the lens category is not an arrow. Consequently, the return result of the shapeless

[2012-04-20 11:30] #7 closed, assigned to nobody

[2012-10-15 07:55] sirthias opened #12 "Release for Scala 2.10-RC1"
We'd like to release [spray](http://spray.io) for Scala 2.10-RC1 in the next days and shapeless is one of our (very few) dependencies. If you publish a fresh build we'd be ready to go...

[2012-10-15 08:45] #12 closed, assigned to nobody

[2012-10-18 23:37] er1c opened #15 "org.scalatest#scalatest_2.10;2.0.M4: not found - SBT 0.12.1?"
https://github.com/harrah/xsbt/wiki/ChangeSummary_0.12.0

[warn] ==== Sonatype Snapshots: tried
[warn]   http://oss.sonatype.org/content/repositories/snapshots/com/chuusai/shapeless_2.10/1.2.3-SNAPSHOT/shapeless_2.10-1.2.3-SNAPSHOT.jar
[warn]  ::::::::::::::::::::::::::::::::::::::::::::::
[warn]  ::          UNRESOLVED DEPENDENCIES         ::
[warn]  ::::::::::::::::::::::::::::::::::::::::::::::

[2012-11-25 10:22] #15 closed, assigned to nobody

[2013-04-01 21:45] xuwei-k opened #26 "NewtypeExampes and LinearAlgebraExamples fail"
in 71604f816e8c53593

[code]

[code]

[2013-04-03 22:56] #26 closed, assigned to nobody

[2013-05-13 13:50] Mortimerp9 opened #31 "Missing Type limit on -> for a Record's Field"
This is more of a feature improvement than a proper bug. In the example of `Record` in the Readme, we can see:

[code]

There is nothing stoping me from writing:

[code]

When I then do:

[code]

it won't compile (that's why it's not a bug), but it gives a quite funny error:

Again, that's not a bug, but it's not the most user friendly way to break I think (if you disagree, just close the bug ;) )

[2013-05-24 15:47] gzm0 opened #32 "toList on shapeless HList fails when resulting existential type too complex"
See the [stackoverflow post](http://stackoverflow.com/questions/16703527/tolist-on-shapeless-hlist-fails-when-resulting-existential-type-too-complex)

Given the following:

[code]

This works:

[code]

While this does not:

[code]

Workaround:

[code]

[2013-05-27 12:55] Danny02 opened #33 "HSet and/or new constraint request"
Hi,
this is a quick question or feature request.

I wonder if it is possible to create something like a HSet. The task I want to accomplish is to have i.e. a method which need as a parameter a collection which holds at least(or just) one String and Int.

I read about HList constraints and perhaps it is possible to achieve this behavior with them. The BasisConstrains allows only parameters with one

[2013-05-28 09:13] #33 closed, assigned to nobody

[2013-06-18 23:37] etorreborre opened #36 "Publish a 1.2.4 jar for scala 2.11.0-M3"
Hi Miles,

I need to release a specs2 version for 2.11.0-M3 but I now depend on Shapeless... Can you please publish a jar for 2.11.0-M3? I hope that it's not too hard especially since I just rely on HLists for now.

[2013-06-19 13:15] #36 closed, assigned to nobody

[2013-08-17 15:35] rrmckinley opened #42 "OSGI settings place publish-local jar in .ivy2/.../bundles/"
The OSGI settings in Build.scala cause a SNAPSHOT build from publish-local to place jar files in .ivy2/.../bundles/. The expectation is .ivy2/.../jars/. I did not easily find a way to depend on the OSGI bundle with sbt. My workaround is to comment out osgiSettings and lines beginning with OsgiKeys.

Could OSGI publishing be moved to a different target? Wanting to try the SNAPSHOT should be easier

[2013-08-26 20:12] rrmckinley opened #43 "Weaker bound needed on result type in shapeless 2.0.0-M2"
The following gist by @milessabin shows an example of using implicit functions that are more specific than the return type for which they are used. In those cases a weaker bound on the result type is required hence, toJSON.Case[A] { type Result <: JValue }

The compiler will provide the following error if the weaker bound is missing:

type mismatch; found : st.Result required: org.json4s.JValue
 (

[2013-08-27 10:28] jonifreeman opened #44 "Runtime exception if the value of record field is Any or AnyRef"
To reproduce:

[code]

java.lang.ClassCastException: java.lang.Integer cannot be cast to shapeless.record$KeyTag
....

[2013-09-03 07:38] #42 closed, assigned to milessabin

[2013-09-05 15:43] dcsobral opened #47 "Incorrect code example on 2.0.0 overview"
On the [CoProducts ](https://github.com/milessabin/shapeless/wiki/Feature-overview:-shapeless-2.0.0#coproducts) session, the last code example uses `res4` when it should have been `res2`.

[2013-09-14 13:43] mpilquist opened #48 "No implicit Generic[A] available if A is defined in an expression"
Welcome to Scala version 2.10.2 (Java HotSpot(TM) 64-Bit Server VM, Java 1.6.0_51).
    Type in expressions to have them evaluated.
    Type :help for more information.

    scala> import shapeless._
    import shapeless._

    scala> { case class Foo(x: Int, y: String); implicitly[Generic[Foo]] }
    <console>:11: error: could not find implicit value for parameter e: shapeless.Generic[Foo]

[2013-09-14 13:56] mpilquist opened #49 "Binding naturals in hlist ops requires explicit import of shapeless.nat._"
Consider this example:

[code]

In order to call `concat`, the call site must explicitly import `shapeless.nat._`. Witness:

[code]

[2013-09-16 07:01] jonifreeman opened #50 "Compilation times of record operations could be improved"
As a simple performance test consider a class below. Uncomment line by line and measure the build time.

    object Test {
      val r =
        ("k01" ->> 1) :: ("k02" ->> 1) :: ("k03" ->> 1) :: ("k04" ->> 1) :: ("k05" ->> 1) ::
        ("k06" ->> 1) :: ("k07" ->> 1) :: ("k08" ->> 1) :: ("k09" ->> 1) :: ("k10" ->> 1) ::
        ("k11" ->> 1) :: ("k12" ->> 1) :: ("k13" ->> 1) :: ("k14" ->> 1) :: (

[2013-09-16 07:03] jonifreeman opened #51 "Explicit type for a record loses Witness.Aux"
See: https://gist.github.com/jonifreeman/6533463

Switching to

[code]

fixes the problem since Witness.Aux is no longer needed.

See: https://gist.github.com/jonifreeman/6570276

[2013-09-26 10:35] rrmckinley opened #53 "Add ability to get field from record"
I see a pattern emerging in transforming flat records into nested records. Example:

[code]

We could save a step and access the field and value whole. It also removes some brittleness when reusing free-range singletons (reduce the chance of a typo).

[code]

Do you think this would be useful? What would be the best getter name, field or something else?

[2013-11-01 23:47] stanch opened #61 "Publish 2.0.0-M1 for Scala 2.10.3"

[2013-11-08 03:44] jedws opened #63 "don't add minor version qualifiers for artefacts aimed at Scala 2.10 and above"
Apart from anything else sbt can have issues with it:

[code]

In this case it is coming in via specs2 and another library.

[2013-11-19 09:32] sirinath opened #65 "Better Docs"
Is it possible to have better documentation on Shapeless.

[2013-12-02 07:19] #61 closed, assigned to milessabin

[2013-12-02 11:05] hubertp opened #67 "Missing type declarations crash implicit search in SingletonTypeMacros"
I'm guessing it's an issue in shapeless.SingletonTypeMacros.
Modified test from the codebase:

[code]

crashes with

[code]

[2013-12-09 20:39] kirstin-rhys opened #68 "shapless 2.10.3 depends on 2.10.2"
This results in a cross version conflict:

[info] downloading http://repo1.maven.org/maven2/com/chuusai/shapeless_2.10.3/2.0.0-M1/shapeless_2.10.3-2.0.0-M1.jar ...
[info]  [SUCCESSFUL ] com.chuusai#shapeless_2.10.3;2.0.0-M1!shapeless_2.10.3.jar(bundle) (534ms)
[info] downloading http://repo1.maven.org/maven2/com/chuusai/shapeless_2.10.2/2.0.0-M1/shapeless_2.10.2-2.0.0-M1.jar ...
[info]  [SUCCESSFU

[2013-12-09 20:46] #68 closed, assigned to nobody

[2013-12-17 01:47] S11001001 opened #69 "Refuse to produce impossible Typeable instances"
[code]

It would be neat if there was some way to constrain `dfltTypeable` so that it wouldn't produce instances like this — that is, it would only produce instances for types derived from nongeneric classes.

[2014-01-15 09:50] fommil opened #72 "HList Schema definition"
It would be really useful (e.g. for JSON message definition) to be able to define an entire HList hierarchy in one statement, effectively an alternative to having lots of nested case classes.

[2014-01-15 12:29] drexin opened #73 "Mapping over HLIST with poly from different input type to same return type does not compile"
Hi,

writing a poly function like this:

[code]

and trying to map over an HList leads to following error:

[code]

[2014-01-22 11:45] nikita-volkov opened #74 "Include `_0` in `shapeless.nat`"
Currently zero is located in a different namespace from other aliases, which results in inconsistency: `shapeless._0` vs `shapeless.nat._1`. I suggest to at least include an according alias.

[2014-01-23 22:23] etorreborre opened #75 "Publish 2.0.0-M1 for scala 2.11.0-M8"
Thanks!

[2014-02-11 21:35] EECOLOR opened #78 "Problem finding implicits for HNil.type"
For quite some time I had a problem using maps and folds. I finally figured out it was because it could not find implicits that involve `Int.type`.

[code]

Causes the following error:

Changing the call of `map` to the following solves the problem:

[code]

Another workaround is to define an implicit for `HNil.type`:

[code]

It's very hard to notice this error because most implicits involving `H

[2014-02-16 11:12] #73 closed, assigned to nobody

[2014-02-16 11:45] #74 closed, assigned to nobody

[2014-02-16 11:56] #75 closed, assigned to nobody

[2014-03-18 00:38] gkossakowski opened #84 "Problematic settings in shapeless build for cross-publishing"
The discussion on [scala-internals](https://groups.google.com/d/msg/scala-internals/C5sQkIP3qCc/gPfSRvwd_pUJ) and on [SI-8425](https://issues.scala-lang.org/browse/SI-8425?focusedCommentId=68891&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-68891) raised concerns about shapeless cross-version publishing settings. In particular, the 1.2.4 got published with wrong suf

[2014-06-09 18:56] #32 closed, assigned to milessabin

[2014-06-20 20:38] johanstenberg92 opened #102 "Lenses compile time insanely slow"
Hi,

I have about 70 lenses where about 60 of them are nested, all are used in the same class. The compile time on my project is about 10 minutes with these 70 lenses, and without them just a few seconds. Makes it impossible to use them.

[2014-06-24 06:59] #65 closed, assigned to nobody

[2014-06-24 17:35] #84 closed, assigned to nobody

[2014-06-24 18:26] #63 closed, assigned to nobody

[2014-06-24 21:56] #49 closed, assigned to nobody

[2014-06-24 22:05] #47 closed, assigned to nobody

[2014-06-25 06:59] milessabin opened #106 "Make Generic.Aux work better with a constrained Repr."

[2014-06-25 07:09] milessabin opened #107 "Generate Unpack boilerplate."

[2014-06-25 07:12] milessabin opened #108 "Use Scala 2.11.x fundep materialization for Generic."

[2014-06-25 07:13] milessabin opened #109 "Add type safe cast to Option of singleton type."

[2014-06-25 07:15] milessabin opened #110 "Use structural types to express record/union type literals."

[2014-06-25 07:18] milessabin opened #111 "Add (Labelled)Coproduct support to Zipper."

[2014-06-25 07:19] milessabin opened #112 "Add permutation methods to HList/Coproduct/tuple."

[2014-06-25 07:20] milessabin opened #113 "Fixup to ensure no failures with -Xfuture etc."

[2014-06-25 23:30] milessabin opened #115 "Add mkString to HList and tuples."

[2014-06-25 23:32] milessabin opened #116 "Reinstate something like FieldEntry to extract value type from FieldOf keys."

[2014-06-25 23:36] milessabin opened #117 "Add a field type member to FieldOf trait and use in tests."

[2014-06-25 23:40] milessabin opened #118 "Add GenericWith to support summoning an instance of a type class for a Repr type simultaneously with the Generic."

[2014-06-25 23:49] milessabin opened #120 "Add apply and at methods to Sized."
`Sized` should have `at` and `apply` methods analogous to those on `HList`: they should yield the _n_th element of the collection _iff_ it has at least _n_ elements. For `HLists` we have,

[code]

The same would be useful for `Sized`.

[2014-06-25 23:50] milessabin opened #121 "Add updateWith to HList and tuples."

[2014-06-25 23:53] milessabin opened #122 "HMap should support singleton keys smoothly."

[2014-06-25 23:53] milessabin opened #123 "Add missing implicit annotations."
There are very many implicit arguments in shapeless without @implicitNotFound annotations. Adding them would make compiler errors more readable.

[2014-06-26 07:05] milessabin opened #124 "Generalize Mapped/Comapped/NatTRel to arbitrary products."

[2014-06-26 07:05] milessabin opened #125 "Split out HKernel."

[2014-06-26 07:08] milessabin opened #126 "Investigate having Witness macro generate singleton type member T with an empty refinement."

[2014-06-26 07:10] milessabin opened #127 "Eliminate intermediate HLists in Poly cases."

[2014-06-26 07:11] milessabin opened #128 "Reorganize/generalize SybClass stuff."

[2014-06-26 07:14] milessabin opened #129 "Add a widen operation for singleton types."

[2014-06-26 09:00] stacycurl opened #130 "Add collect(p: Poly) to HList & Tuple"
Closing because I've submitted a pull request

[2014-06-26 17:45] milessabin opened #131 "Add toString to Sized."

[2014-06-26 17:47] milessabin opened #132 "Extract out induction principles for HList, Coproduct, Nat etc. and rework ops in terms of them."

[2014-06-26 17:48] milessabin opened #133 "Function/method promotion should handle Poly1 and natural transformation targets."

[2014-06-26 17:49] milessabin opened #134 "Add partial extractors for HLists, Coproducts, tuples, records and unions."

[2014-06-26 17:50] milessabin opened #135 "Add Scaladoc for Zipper."

[2014-06-26 17:51] milessabin opened #136 "Add <: HList bounds to HList ops wherever appropriate."

[2014-06-26 17:53] milessabin opened #137 "Rework SybClass in terms of TypeClass."

[2014-06-26 17:59] milessabin opened #138 "Add Ordering etc. instances for HLists, Products, Coproducts."

[2014-06-26 18:01] milessabin opened #139 "Add Fin type with conversions with Nat, Int."

[2014-06-26 18:01] milessabin opened #140 "Can an implicitly style macro yield a stable identifier?"

[2014-06-26 18:04] milessabin opened #141 "Conversion from records to structurally typed values."

[2014-06-26 18:05] milessabin opened #142 "Convert a record of functions to a structurally typed value."

[2014-06-26 18:06] milessabin opened #143 "Improve composability of Zipper operations."
The problem is visible when you try and use the zipper in a polymorphic function. If you've used shapeless you'd expect the function to need a bunch of implicit zipper operation witnesses before you can perform the corresponding operation within the method body. Unfortunately it's extremely difficult to write the signatures for those witnesses. For instance in,

[code]

what should we write as the

[2014-06-26 18:08] milessabin opened #144 "Add higher-order HLists (ie. HLists of type constructors)."

[2014-06-26 18:10] milessabin opened #145 "Lazy pack factors out (co-)product recursion."

[2014-06-26 18:34] #130 closed, assigned to nobody

[2014-06-28 10:49] #115 closed, assigned to nobody

[2014-06-30 06:55] milessabin opened #154 "Improve support for partial application of Polys"
Currently it is difficult to partially apply a `Poly` because the resulting value is typically not stable and hence not usable in typical `Poly` contexts.

[2014-06-30 07:03] #120 closed, assigned to nobody

[2014-07-01 07:41] #138 closed, assigned to nobody

[2014-07-02 07:09] #67 closed, assigned to milessabin

[2014-07-05 22:42] #69 closed, assigned to milessabin

[2014-07-05 23:45] #53 closed, assigned to nobody

[2014-07-07 22:44] #106 closed, assigned to milessabin

[2014-07-07 22:44] #108 closed, assigned to milessabin

[2014-07-08 06:55] #31 closed, assigned to milessabin

[2014-07-08 07:22] #43 closed, assigned to milessabin

[2014-07-10 09:59] wedens opened #162 "Polymorphic functions on HList not working"
shapless 2.0.0
scala 2.11.1

from "Feature overview: shapeless 2.0.0"
[code]
exception:

[code]

[2014-07-10 17:10] bryce-anderson opened #164 "Conversion of functions of a HList to a FunctionN"
I've come across a few situations where I would like to convert a fuction of a HList to a FunctionN. and vise versa. Is this a feature already present, or one that would be desired?
Something of the form

[code]

An example use case can be seen here for the conversion of a `FunctionN` to `(T <: Hlist) =>O`
https://github.com/http4s/rho/blob/topic/UriTemplate/core/src/main/scala/org/http4s/rho/bits

[2014-07-12 13:03] #164 closed, assigned to nobody

[2014-07-16 09:53] fommil opened #177 "Add more examples for flatten/unflatten"
It would be great to have a longer example on turning an `HList` into an `HList` of another type, and back again, with the implicit conversions. e.g.

[code]

and back again. (With the equivalent additional boilerplate for it to work with shapeless 1.)

It would be even better if you could follow it up to take arbitrary case classes into `Map[String, String]` (keys are field names) and back again.

[2014-07-17 08:04] stacycurl opened #179 "Add take & drop to Coproduct"
take[N] = split[N].head
drop[N] = split[N].tail

[2014-07-17 08:15] stacycurl opened #180 "Add flatMap to Coproduct"
type I = Int; type S = String; type D = Double; type B = Boolean; type C = Char; type L = Long

object op extends Poly1 {
  implicit def intCase = at[Int](i => {
    if %28i > 0%29 Coproduct[D :+: B]%282.0%29 else Coproduct[D :+: B]%28false%29
  })

  implicit def stringCase = at[String](s => {
   if %28s ==) Coproduct[C :+: L :+: CNil]('f') else Coproduct[C :+: L :+: CNil](3L)
 })
}

type In = I

[2014-07-17 12:57] #107 closed, assigned to nobody

[2014-07-18 06:54] #180 closed, assigned to nobody

[2014-07-19 11:23] stacycurl opened #186 "Add scanLeft & scanRight to Coproduct"
Don't know if this is meaningful or if anything is close enough to warrant being called scanLeft. Here's some possible semantics.
scanLeft(z: Z)(p: P <: Poly)

1) Require all the cases in P to have Z as one of their arguments.
2) Let the types flow just as for hlist, i.e. Z is paired with the first element, the result of that paired with the second. Since there's only one value in the coproduct th

[2014-07-19 15:42] travisbrown opened #188 "Add tests for Sized.Exact when 2.11 bug is fixed"
The `Sized.Exact` extractor I've added in #184 is designed not to compile `val Sized.Exact(a, b) = Sized('foo)` or `val Sized.Exact(a) = Sized('foo, 'bar)`. It works, but we can't confirm that with `illTyped` because of [a bug](https://issues.scala-lang.org/browse/SI-8719) in 2.11. When that's fixed we'll want to add something like the following to the tests for `Sized`:

[code]

[2014-07-19 16:52] travisbrown opened #190 "Add Nat ranges and zipWithIndex to HList and tuples"
As discussed [here](http://stackoverflow.com/a/24814753/334519). Three questions:

Do we want to allow the user to specify the step for ranges? It adds a lot of complexity for something that's questionably useful.

Any thoughts on whether `(1 :: 'a :: HNil).zipWithIndex` should be `(1 :: _0 :: HNil) :: ('a :: _1 :: HNil) :: HNil` or `(1, _0) :: ('a, _1) :: HNil`? My vote's for the latter but the f

[2014-07-22 19:49] fommil opened #191 "example: auto case class to HOCON parser"
it would be an incredibly good showcase for shapeless to be able to define a nested case class and then be able to read a [HOCON](https://github.com/typesafehub/config/blob/master/HOCON.md) config file and have it parsed into the case class.

[2014-07-28 17:48] milessabin opened #195 "Add sbt-typelevel plugin to the build"
See documentation [here](https://github.com/typelevel/sbt-typelevel).

[2014-07-30 01:14] pierzchalski opened #196 "Add 'injectable' type class instances to TypeClass"
The ability to use custom instances would be very useful for common use-case instances, such as pretty-printers and codecs.

Currently, the generic type class constructors (`shapeless.TypeClass`) use macros to fully expand the product/coproduct representation of a sealed trait family, which means it isn't possible to 'inject' custom instances of type classes into the resulting generated typeclass

[2014-07-31 16:47] fancellu opened #197 "Issues in Scala IDE 4.0.0-m3? Macro error in editor?"
e.g. https://github.com/milessabin/shapeless/wiki/Feature-overview:-shapeless-2.0.0#extensible-records

Runs fine, however editor shows errors. Same in worksheet.

e.g. type mismatch;  found   : fresh$macro$1168  required: fresh$macro$1166

Is this an known issue?

[2014-07-31 17:37] #197 closed, assigned to nobody

[2014-07-31 20:55] salanki opened #198 "Injecting values to a Poly defined outside of calling method is awkward"
An easy way to inject information into objects extending Poly is by defining the object inside the method body which is later using the Poly for mapping/folding. In cases where the object is needed for evidence resolution to the method itself things get trickier.

Example:
[code]

In the example above we can't define `updateElem` inside `parseCaseClass` as the type of `updateElem` is needed for th

[2014-08-01 12:33] brendanator opened #199 "UnaryTCConstraint hnilUnaryTC implicit not found"
[code]

[2014-08-02 01:44] l15k4 opened #201 "Sbt console classpath problem"
Hey,

I have a situation when  project compiles OK, show full-classpath  points to existing classes,  sbt and scala versions  match the requirements, but  console > import shapeless._  error: not found: value shapeless

I really don't know what to do next to figure that out, I use scala version 2.11.2,  sbt 0.13.5, I git cloned shapeless and did just sbt clean compile console

-->>  import shapele

[2014-08-02 10:31] #199 closed, assigned to nobody

[2014-08-02 10:37] #201 closed, assigned to nobody

[2014-08-02 10:39] milessabin opened #202 "Remove sbt-eclipse plugin and clean up IDE and OS specific entries in .gitignore"
IDE and OS specifics should be handled by local sbt/git configuration, not broadcast globally.

[2014-08-02 10:53] milessabin opened #203 "SBT project has unintuitive structure ... top-level console should launch REPL with sensible classpath"
I think it'd be good to have some discussion about what we want before proceeding with this.

Currently the project is structured with three subprojects: shapeless-core, shapeless-examples and shapeless-scratch. The top-level project aggregates shapeless-core and shapeless-examples, but typing console at the top-level doesn't included core (or examples) on the classpath of the resulting REPL. At o

[2014-08-02 18:13] #202 closed, assigned to milessabin

[2014-08-05 07:00] #78 closed, assigned to nobody

[2014-08-11 18:39] alexarchambault opened #206 "Sized sets"
Using `Sized` with `Set` seems to give unexpected (to me, at least) results: one can write `Sized[Set](1, 1, 1)` and get a `Sized[Set[Int], nat._3]`, which it is not (`Set(1, 1, 1)` has only one element).

Console session from shapeless-core for example:

[code]

A possible fix could be to require an additional evidence (a ~ `ConstantSizeCollection` type class ?) whenever one builds a `Sized` usin

[2014-08-11 19:02] alexarchambault opened #207 "rotateLeft/rotateRight and Nat.materialize macro"
Currently, the method `rotateRight` on `TupleOps` has two definitions:

[code]

Only the first one seems to be called from the tests (and from anywhere in the shapeless build). The second one can be called this way:

[code]

but not this way:

[code]

We ran into the same problem while implementing `Tuple.fill` and `HList.fill` (see https://github.com/milessabin/shapeless/pull/172, the comments ju

[2014-08-14 20:07] ephemerist opened #211 "Natural transform HMap with Id"
Expressing an HMap with a natural transform to Id requires an ugly specification of types for the values:

[code]

[2014-08-14 20:51] djspiewak opened #212 "Generic fails to materialize inherited case classes defined in trait"
[code]

The `as` function is defined [here](https://github.com/scodec/scodec/blob/series/1.1.x/src/main/scala/scodec/Codec.scala#L148) in the scodec project.  It's basically just leaning on `Generic`.  The problem is that it is unable to materialize the `Foo` type, and thus the conversion fails:

[code]

If I move `Foo` into `Child`, it works just fine.

[2014-08-15 07:05] #207 closed, assigned to nobody

[2014-08-15 07:12] #211 closed, assigned to nobody

[2014-08-18 15:50] stacycurl opened #215 "Add Traversable[HList].toNestedMap"
List(1 :: 2 :: 3 :: HNil, 1 :: 3 :: 4 :: HNil).toNestedMap ==
  Map(1 -> Map(2 -> 3, 3 -> 4))

List(1 :: 2 :: 3 :: 4 :: HNil, 1 :: 2 :: 4 :: 5 :: HNil).toNestedMap ==
  Map(1 -> Map(2 -> Map(3 -> 4, 4 -> 5)))

[2014-08-23 01:12] reactormonk opened #218 "Transitive LUB?"
What needs to be changed in this snippet that it compiles?

[code]

Currently:

[code]

[2014-08-23 12:38] #218 closed, assigned to nobody

[2014-08-25 20:18] #206 closed, assigned to nobody

[2014-08-25 21:45] jedesah opened #219 "Add documentation around TypeClass derivation"
The documentation around typeclass derivation points to a blog post where the derivation process is explained in a very clear manner. The problem is that this blog post mentions that there will be a part 2 that deals with the notion of co-product and how it relates to typeclass derivation. As far as my understanding goes, this blog post never made it out and there is no ressource to find more abou

[2014-08-30 16:23] #215 closed, assigned to stacycurl

[2014-08-30 16:36] stacycurl opened #221 "Restore backwards compatibility of HList.split (reverse split, etc)"

[2014-08-30 16:40] stacycurl opened #222 "Rename coproduct methods that produce coproducts from x to xC"

[2014-09-09 20:51] reactormonk opened #226 "LUB of empty HLists"
The tests of the LUB constraints don't check the empty case.
Currently, it doesn't compile, e.g.

[code]

fails. Imo it should pass.

[2014-09-10 10:11] gabro opened #228 "Compilation time of shapeless-based module explodes"
Hi all,
I'm facing a problem with this module I've written

https://gist.github.com/gabro/5f88aa672bebc25ee3d7

(Sorry for dumping the entire code, but for the specific problem I can't reduce it to a minimum example. I tried to comment it at best for maximum clarity)

That single module takes something between 500 and 1000 seconds to compile, using sbt 13.5.

Now, I thought it could be related to

[2014-09-10 12:00] #226 closed, assigned to nobody

[2014-09-16 19:55] nmehitabel opened #231 "Generic and case class toArray exception"
Scala 2.10.4
Shapeless 2.0.0
Using Generic with case class and toArray throws exception when 2 or more initial string fields are followed by a different type

[code]

The following work:

[code]

[2014-09-18 16:28] andycook opened #233 ""heterogeneous" vs. "heterogenous" in HList and HMap documentation"
I guess this might be nitpicking, and rather minor, but a friend was telling me about the HList in shapeless, and it launched into a discussion of "heterogenous" versus "heterogeneous". While "heterogenous" is an accepted common alternate spelling of "heterogeneous", it's also a separate word in its own right, referring to something originating from outside an organism or system (literally "other

[2014-09-19 22:34] travisbrown opened #234 "ToList for empty hlists"
The new implementation of `ToList` in terms of `ToTraversable` means that `implicitly[ToList[HNil, Int]]` and `HNil.toList[Int]` no longer compile. Is this intentional? It's definitely sometimes useful to have a `ToList` instance for an empty `HList`.

[2014-09-20 08:12] #234 closed, assigned to nobody

[2014-09-24 16:29] fommil opened #237 "Example request: type transforms to case classes"
I would find it very useful to be able to apply type transformations to elements in a case class. A real world example is to construct proxy types for wire formats that are subtly different to case classes that make more sense to scala developers.

e.g. let's say we have

[code]

and we define the following to be our proxy type

[code]

I would like shapeless to be able to provide me with

[code]

[2014-09-24 17:23] fommil opened #238 "Example request: apply implicit operation on impls of a sealed trait"
let's say we have the following hierarchy

[code]

and we can provide implementations for

[code]

we'd like to avoid creating boilerplate laden code such as this (imagine how bad it gets with 10 case classes implementing the trait)

[code]

can shapless be used to automagically create `stuff` and `cram`? (assuming I can give some form of thunk that says "get the implicit for the implementation an

[2014-10-01 23:24] reactormonk opened #240 "Use sensible names for the ops implicits"
A lot of the implicits in ops are just numbered, which makes the code harder to read. A sensible naming scheme or comments which explain when which implicit is chosen would help.

Eg. https://github.com/milessabin/shapeless/blob/master/core/src/main/scala/shapeless/ops/hlists.scala#L767

    implicit def hlistFilter1[L <: HList, H]
      (implicit f : Filter[L, H]): Aux[H :: L, H, H :: f.Out] = ..

[2014-10-02 10:21] #191 closed, assigned to nobody

[2014-10-02 10:21] #177 closed, assigned to nobody

[2014-10-02 23:09] alexarchambault opened #241 "Sized[Array] of value elements"
When creating a `Sized[Array]`, of `Boolean`-s say, one gets the following error at runtime:

[code]
It seems to happen only for Arrays of value types (not reference ones). One gets the same error outside the REPL.

Dropping the `extends AnyVal` on `Sized` solves the issue. The 2.10.x branch is not impacted, as `Sized` doesn't extend `AnyVal` on it. So the sometimes weird behaviour of `AnyVal` see

[2014-10-03 06:26] #221 closed, assigned to nobody

[2014-10-03 06:28] #139 closed, assigned to nobody

[2014-10-03 06:33] #140 closed, assigned to milessabin

[2014-10-03 06:55] #110 closed, assigned to milessabin

[2014-10-03 06:58] #109 closed, assigned to nobody

[2014-10-03 07:08] #233 closed, assigned to nobody

[2014-10-03 07:09] #228 closed, assigned to nobody

[2014-10-03 13:30] #126 closed, assigned to nobody

[2014-10-03 14:26] #51 closed, assigned to nobody

[2014-10-05 10:39] #222 closed, assigned to nobody

[2014-10-07 14:37] jto opened #242 "Coproduct unification fails on parameterized types"
[code]

I am doing something wrong ?

[2014-10-08 18:05] #242 closed, assigned to nobody

[2014-10-09 00:21] alexarchambault opened #247 "Coproduct split call that should not compile, in fact compiling"
The call to split here:
https://github.com/milessabin/shapeless/blob/master/core/src/test/scala/shapeless/coproduct.scala#L764
should not compile, as it consists in taking 2 elements out of a coproduct of length 1.

Same thing with `splitC` here:
https://github.com/milessabin/shapeless/blob/master/core/src/test/scala/shapeless/coproduct.scala#L809

@stacycurl Do you want to fix it? Else I'll have

[2014-10-10 08:12] #179 closed, assigned to nobody

[2014-10-11 08:22] #247 closed, assigned to nobody

[2014-10-16 12:24] #212 closed, assigned to milessabin

[2014-10-18 14:43] alexarchambault opened #251 "Coproduct remove fails with repeated types"
Coproduct remove doesn't seem to compile when some types are repeated in the coproduct type:

[code]

I'm submitting a PR in a minute.

[2014-10-18 15:05] alexarchambault opened #253 "Embed and repeated types in coproduct"
Repeated types are "coalesced" into one and a single type when embedding a coproduct into another one:

[code]

So one can embed a `Int :+: Int :+: Int :+: CNil` into `Double :+: Int :+: CNil`, or even into a simple `Int :+: CNil`.

Do you consider this a bug? I have a fix (pushing it to my repo in a few minutes), but it is not a straightforward one.

[2014-10-18 19:08] #251 closed, assigned to alexarchambault

[2014-10-24 17:12] fommil opened #255 "println left in Witness"
I was using Witness for a Singleton and got lots of type info on my screen.

[2014-10-24 17:26] fommil opened #256 "Witness to provide scala name"
it would be great if a Witness could provide the Symbol for the thing it is witnessing, e.g. the scala name for a singleton.

[2014-10-25 00:31] alexarchambault opened #257 "LabelledTypeClass (vs LabelledProductTypeClass)"
`LabelledTypeClass` and `LabelledProductTypeClass` seem not to derive the same type classes for product types (although `LabelledTypeClass <:< LabelledProductTypeClass`). The tests in
https://github.com/milessabin/shapeless/blob/master/core/src/test/scala/shapeless/typeclass.scala
seem to imply that this is expected, but it is somewhat surprising.

For example, for the `LabelledProductTypeClass` l

[2014-10-27 10:29] #255 closed, assigned to nobody

[2014-10-28 07:47] #253 closed, assigned to nobody

[2014-11-24 08:40] larsrh opened #269 "HList can't be mapped over Poly generated by Poly.apply"
[code]

produces:

[code]

Reproducible with `2.0.0` and `2.1.0-SNAPSHOT`.

[2014-11-24 09:00] #269 closed, assigned to nobody

[2014-12-04 22:07] alexarchambault opened #273 "Calling method .to (ToTraversable based) on Unit"
[code]

[2014-12-05 00:27] alexarchambault opened #275 "Boolean literal types based filtering"
Currently, the `filter` methods on `HList`s and `Coproduct`s filter elements of a given type only.
Wouldn't it make more sense to have a filtering based on value types - Boolean literals - returned by a `Poly`? This way it would
- look closer to the `filter` method of standard collections (like `map` is),
- allow more complex filtering (filtering more than one type, or filtering based on value typ

[2014-12-06 23:31] alexarchambault opened #277 "LabelledGeneric derivation fails sometimes depending on where the coproduct is defined"
- First example described in https://github.com/argonaut-io/argonaut/pull/142
- Second example before and after the last commit in https://github.com/alexarchambault/argonaut/tree/bug/shapeless-labelledgeneric (which uses https://github.com/milessabin/shapeless/tree/topic/serialization)

[2014-12-08 22:17] #277 closed, assigned to nobody

[2014-12-10 11:47] dwijnand opened #280 "Consider the value of value classes, for instance for the syntax extension methods"
It might be worth considering making the syntax extension method classes value classes, such as HListOps, to avoid unnecessary boxing.

[2014-12-10 13:53] behrad opened #281 "Dynamic access to case class properties"
Taking I have

[code]

I want to be able to get a field's value in runtime having field's name as String:
[code]

How could this be achieved in Shapeless?

I wrote

[code]

but got:
[code]

[2014-12-11 19:56] omidb opened #282 "filter output"
Hi,
I'm new to Shapeless. I have the following:

[code]

myInts here is a "hlist.Filter.Aux". shouldn't be a Option[List[Int]] ? because we are specifying the type of Int here?

what would be the best way to get a "List[Int]" ?

Thanks for awesome library

[2014-12-12 12:13] #282 closed, assigned to nobody

[2014-12-13 23:57] johanatan opened #287 "`Nat.toInt[Nat._N]` should be compile time constant but it apparently isn't ..."
... (at least not compile time constant enough to satisfy the compiler that the following is valid):

    scala> List(1,2,3).sized(Nat.toInt[Nat._3])
    <console>:14: error: Expression shapeless.Nat.toInt[shapeless.Nat._3](nat.this.ToInt.toIntSucc[shapeless.Nat._2](nat.this.ToInt.toIntSucc[shapeless.Nat._1](nat.this.ToInt.toIntSucc[shapeless._0](nat.this.ToInt.toInt0)))) does not evaluate to an I

[2014-12-15 22:21] #273 closed, assigned to alexarchambault

[2014-12-19 17:01] fwbrasil opened #290 "Nested records"
Hi,

I'm trying to use shapeless to handle some mapping code that basically maps objects to a different structure. My idea is to use `records` as the final structure, since they are flexible as `Map`, but allow to keep type safety.

I need to be able to define nested records, but I'm getting a compilation error. Is it a bug or a missing feature?

cc/ @folone

Code:

[code]

build.sbt:

[code]

Err

[2014-12-19 17:47] #290 closed, assigned to nobody

[2014-12-27 10:12] #196 closed, assigned to milessabin

[2014-12-27 10:15] #137 closed, assigned to milessabin

[2015-01-02 00:54] alexarchambault opened #301 "LabelledGeneric and scala 2.10"
`LabelledGeneric` seems not to work anymore in a scala 2.10 project (when used outside shapeless itself). For example, the following doesn't compile:
[code]

`sbt compile` gives:
[code]

(All the files to reproduce this error are available here: https://gist.github.com/alexarchambault/1fd71d804f0661ad51c1).

The type parameter `R` (the one filled by the macro) may be the problem, as the following

[2015-01-02 00:58] alexarchambault commented on #301
So adding
[code]
to `build.sbt` fixes it...

Maybe we could add a warning about that in the README or the wiki...

[2015-01-02 08:53] milessabin commented on #301
Yes, that is the case: the plugin supports "fundep materialisation" in 2.10.x. That improves consistency of shapeless client code between 2.11.x and 2.10.x, which outweighs the inconvenience of the plugin IMO.

You're right that this needs to be added to the README.

[2015-01-02 10:41] #301 closed

[2015-01-04 15:43] alexarchambault opened #306 "Lazy & case object constructors"
I couldn't get `Lazy` implicits to work with simple examples of sealed hierarchies having case object constructors, like in:
[code]
(full example at https://gist.github.com/alexarchambault/86de91eb158c5f485522).

[2015-01-04 15:48] alexarchambault opened #307 "Conflicts between syntax.std.tuple and syntax.std.product"
Already briefly discussed here https://github.com/milessabin/shapeless/pull/296, but still applies:

[code]

[2015-01-05 07:48] #287 closed

[2015-01-05 07:55] milessabin commented on #306
Thanks, that's very helpful. I think it might very well be a reproduction of a problem that @mpilquist and I have seen in Scodec.

[2015-01-05 08:56] #306 closed

[2015-01-05 19:48] alexarchambault commented on #257
Closing this, now that `Lazy` is here.

[2015-01-05 19:48] #257 closed

[2015-01-07 11:17] pierzchalski commented on #196
@milessabin Sorry about the late response, although I haven't really got any useful input at this point. Exposing the Typeclass interface through implicits ended up having some other benefits on the side: since I can now use the full power of shapeless's type-level operations on the (co)product type arguments, I ended up making a generic uniform-probability distribution function over a trait tree,

[2015-01-07 11:23] milessabin commented on #196
Awesome ... thanks for the feedback :-) I'd be very interested in seeing your generic probability distribution stuff if it's public.

[2015-01-08 05:12] pierzchalski commented on #196
I may have over-sold how fancy it was... it was mostly just using access to ```ops.coproduct.Length``` to ensure that types like ```A :+: B :+: C :+: CNil``` are actually uniform over the three types. It's technically in one of my public repos, but from recent experience, I should probably stick it in a [gist instead](https://gist.github.com/pierzchalski/c2ae38718b53cdfaf33e).

If I were to follow

[2015-01-08 09:07] milessabin commented on #196
Keep me posted if you explore that bounded size case. I think it might be possible to do something along those lines consistently with a type class based approach (eg. we might be able to materialize a proof that a type has a given bound).

Are you OK with me tweeting a link to your gist? If so, what's your twitter handle so I can mention you?

[2015-01-08 12:52] pierzchalski commented on #196
I'm perfectly fine with you tweeting the gist, if you think it's interesting enough. My handle is [@eapi_](https://twitter.com/eapi_), although I don't really use twitter much.

I also thought that the bounded expected size case might have been feasible with typeclasses, however I think there might be a need for some form of numeric optimization for the weights of each type, which would be both fu

[2015-01-08 13:26] milessabin commented on #196
Right. I think it's a good idea to hide this kind of thing behind type classes with implicit macro materializers ... I think that way there's a good chance of being able support fine grained composition.

[2015-01-11 23:05] alexarchambault opened #309 "Interaction between shapeless FieldType, and Scalaz tagged types"
When using _at the same time_, `Lazy`, labels, and _scalaz_ tagged types, implicits resolution with `Lazy` seems to fail:

[code]

Full example here: https://gist.github.com/alexarchambault/ebf6ac15fceccbd37fc5#file-tc-scala

(Original reason for using scalaz `@@` was https://github.com/scalaz/scalaz/issues/747, which was addressed in scalaz but not in shapeless at some point.)

When using shapele

[2015-01-11 23:14] alexarchambault opened #310 "Runtime error when using `LabelledGeneric` and `@@`"
Having defined
[code]
the following:
[code]
raises an `AbstractMethodError` at runtime (full example here: https://gist.github.com/alexarchambault/d591ad927984f01f221c)

Curiously, when using scalaz `@@` instead, it seems to work.

[2015-01-12 22:59] milessabin commented on #309
I think if it works with `Generic` but not `LabelledGeneric` then there's a reasonably good chance that this  has a fairly straightforward fix.

[2015-01-12 23:01] milessabin commented on #310
I would usually associate `AbstractMethodErrors` with b0rked incremental builds or with REPL interaction. Are you seeing an `AbstractMethodError` when doing a clean build?

[2015-01-12 23:26] alexarchambault commented on #310
yup, getting the following with a fresh build:
[code]

[2015-01-12 23:30] alexarchambault commented on #310
Same thing without the `DelayedInit`:
[code]

`Dummy.scala`
[code]

[2015-01-14 13:28] milessabin commented on #309
This appears to be an interaction between the Scalaz encoding of tagging and shapeless's encoding of fields.

With the following local definition of Scalaz tags,
[code]
we get the following behaviour,
[code]
Nevertheless, selecting for the whole field works as expected,
[code]
I'm not 100% sure what's happening here, but it seems that the two refinements (the one that encodes the shapeless field t

[2015-01-14 14:20] alexarchambault commented on #309
Thanks for the hint, didn't realize it was more general than `Lazy`.
I'm using this in https://github.com/alexarchambault/case-app. Your workaround should work for it.

I'd be happy to switch to shapeless' tags by the way, but I ran into https://github.com/milessabin/shapeless/issues/310.

[2015-01-14 14:31] milessabin commented on #309
Fix for #310 about to be pushed :-)

[2015-01-14 18:06] #310 closed

[2015-01-21 07:36] rorygraves opened #313 "toString on Typeable is not helpful"
In Ensime we are using shapeless to do typesafe calls to an actor:

[code]

I'm sure there are many things that you dislike about this code, but my problem is I cannot generate a good error message: - on failure I get:

[code]
Is there any way to improve the ```toString``` to include the expected type (```R``` in this case)?

e..g. Something like```Typeable(Boolean)``` or/and add a seperate method

[2015-01-21 19:00] milessabin commented on #313
Reasonable request. It won't get in to 2.1.0 I'm afraid though (at least not unless a perfectly formed PR lands in my inbox very very soon).

[2015-01-21 19:28] stacycurl commented on #313
For some definition of 'soon' ;p
On 21 Jan 2015 19:00, "Miles Sabin" <notifications@github.com> wrote:

[2015-01-21 20:01] milessabin commented on #313
Oh _very_ funny ;-)

[2015-01-21 21:21] rorygraves commented on #313
:smiley:

[2015-01-21 22:49] alexarchambault opened #314 "Lazy and generics"
I've been trying to get `Lazy` to work with generic types (generic like in `def func[T](t: T)`, not `shapeless.Generic`), without success so far.

When working with labels, it seems that an implicit ``Lazy[TC[Record.`...`.T]]`` (with some generic type `T` in `...`) cannot be found, although an implicit ``TC[Record.`...`.T]`` can.

And without labels, looking for an implicit ``Lazy[TC[HList.`...`.T

[2015-02-04 17:21] fommil opened #317 "everywhere take a trait parameter"
imagine you have a sealed family and you want to apply an `everywhere` to a `trait`/coproduct rather than a `case class`/product. Right now, in 2.10.4 2.0.0 I'm getting silent failure :cry:

Is this supposed to be supported? If so, I don't think it is... and if it isn't can you please add support in the 2.0.0 line because somebody has to use a non-standard build tool at work, which means that cert

[2015-02-05 11:54] fommil opened #320 "2.0.0 `everywhere` basically not working at all for complicated data structure"
I tried to whittle my trait/case class domain model down to something minimal to show you but it basically didn't work at all when I had the model in a different file to the definition and application of the `everything`. I'd have to start again to show.

Is 2.1 going to have better support for this?

As a workaround, we're going to use runtime recursive Product traversal. If we can upgrade to sca

[2015-02-05 16:35] fommil commented on #320
I've worked around this with runtime lookup. Maybe worth using something like this in your tests:

[code]

[2015-02-05 18:05] milessabin commented on #317
In shapeless 2.1.0 and Scala 2.10.5 an option for you? If it is you'll be able to use the new -Yfundep-materialization flag instead of the macro paradise plugin.

A little bird tells me that that 2.10.5 will be out towards the end of this month ... snapshots are available now.

[2015-02-05 19:48] fommil commented on #317
@milessabin yeah, I've looked into that. I even tried getting macro paradise to work with a non-standard build tool that you know and love :stuck_out_tongue:

So is this now supported in 2.1?

I created another ticket because even case class stuff in 2.10 is completely broken for me. I've decided to just give up trying with a minimal test case if 2.1 supports it. I'm keen to compare my reflective

[2015-02-06 08:11] milessabin commented on #317
Can you post a minimal example which reproduces the "someplaces" behaviour you're seeing? I'd expect it involves recursion somewhere in a way which isn't supported in 2.0.0.

[2015-02-06 08:44] milessabin commented on #320
I would guess that your original example involves (possibly hidden) recursion in a way which isn't supported in 2.0.0 ... can you boil you example down to something which you can compare between that and 2.1.0?

Other than that, I'm afraid that without something reproducible there's not a lot I can do apart from saying that what you're seeing isn't completely unexpected in 2.0.0 and is most likely

[2015-02-06 09:15] fommil commented on #320
I tried to boil it down, but it kept failing (because the classes were defined in a different file?) and I went too far, it is quite a big domain model so it would take me a few hours to try again. 2.1 sounds great, I'll just try and get us onto scala 2.11 and then I can report back with more meaningful results. No point trying to reproduce a bug on a branch that is known to be broken. On the plus

[2015-02-10 10:11] Baccata opened #322 "implicit Lenses not found if the classes are defined afterwards, within the same source file."
My knowledge of the scala compiler and macros being quite limited, I'm not sure whether the problem comes from shapeless or from the compiler, but the following is a bit strange :

this compiles

[code]
while this doesn't :

[code]
I would have assumed it to work, no matter the order. It's not a big problem, but it got me confused as I tried the latter first.

[2015-02-10 19:13] ritschwumm commented on #322
could be related to https://issues.scala-lang.org/browse/SI-7755 or https://issues.scala-lang.org/browse/SI-7046

[2015-02-11 17:32] fommil opened #323 "2.1.0 breaks use of scala.reflect.Manifest"
I am migrating some legacy code, e.g.

[code]

and these lines are failing when `shapeless.Typeable` is imported for other uses in the same file with an error along the lines of

[code]

I am planning to just remove these definitions, but this might be hinting at a bug in shapeless.

[2015-02-11 17:43] stacycurl commented on #323
2.1.0 is supported from 2.10 onwards; Manifests were deprecated in 2.10, do you get the same error if you use ClassTag instead ? (fantastic pimps btw, can't imagine where they came from ;p )

[2015-02-11 17:43] milessabin commented on #323
That's very odd ... can you show an actual example of the source lines which are failing and the exact error in that case?

[2015-02-11 17:46] fommil commented on #323
those are the exact lines above

[2015-02-11 17:47] milessabin commented on #323
Err ... then can you show me the exact error?

[2015-02-11 17:48] fommil commented on #323
[code]

[2015-02-11 17:51] fommil commented on #323
@stacycurl good thinking, that does help.

[2015-02-11 17:53] stacycurl commented on #323
I think the problem might be in RichManifest, if memory serves it looks something like this:

[code]

[2015-02-11 17:54] stacycurl commented on #323
Which of course (if you are preserving the 'as' pimp) would need to be ported to a 'RichClassTag'.

[2015-02-11 17:55] fommil commented on #323
we have so many uses of Manifest it is depressing

[2015-02-11 17:58] fommil commented on #323
anyway, I'm off to the SLUG talk now :smile:

[2015-02-11 18:04] milessabin commented on #323
Which versions of Scala and shapeless did this actually work with?

[2015-02-11 23:04] fommil commented on #323
2.0.0 with Scala 2.11 was good

[2015-02-12 09:34] milessabin commented on #323
It's not easy to say without a reproducible example, but I think it's probably due to `Typeable` being stricter (ie. not broken) about what it can safely cast. Previously there was a fallback instance which might have been picked up in your case before but which is now forbidden. See #69.

[2015-02-12 10:09] fommil commented on #323
Now that I know where the problem is (too many pimps!) I think I can workaround this, thanks!

Will hopefully have a good stress test of everywhere for you in the next few days.

[2015-02-12 10:09] #323 closed

[2015-02-12 16:01] #317 closed

[2015-02-12 16:02] #320 closed

[2015-02-12 16:30] fommil opened #325 "`everywhere` doesn't like BigDecimal"
I have a domain model that has a `BigDecimal` somewhere in it, and any application of `everywhere` gives this warning (shapeless 2.1, scala 2.11):

[code]

[2015-02-12 16:37] fommil opened #326 "`everywhere` ignores implicit `at[T]` where `T` is a sealed trait"
`everywhere` ignores implicit `at[T]` where `T` is a sealed trait in shapeless 2.1 on scala 2.11.

I have a domain model made out of sealed traits and case classes. I'm interested in applying a side-effecting validation function to an instance by looking at one the components: e.g.

[code]

but defining a `Poly1` like this:

[code]

means that my `add` side effect is never called.

However, lookin

[2015-02-12 17:39] milessabin commented on #326
Nope, it's just that cases are invariant.

If you want a single case to handle all of your case classes you'll need something like,

[code]

[2015-02-12 17:41] milessabin commented on #325
!?!

That's a deprecation warning from `BigDecimal`! How is that a shapless issue?

[2015-02-12 17:43] fommil commented on #326
:smile: I'll reopen if that doesn't work... but this sounds perfect and I'll go home having achieved something.

[2015-02-12 17:43] #326 closed

[2015-02-12 17:44] fommil commented on #325
I don't get this unless I use `everywhere`. I don't know how it managing to trigger the deprecation warning, but I'm concerned that it's accessing something bad.

[2015-02-12 17:45] fommil commented on #325
maybe a workaround is needed for `BigDecimal` ?

[2015-02-12 18:19] fommil commented on #326
Incidentally, since I'm just doing a side effect, is everywhere smart enough to do a no-op when it sees that I am performing the identity function?

[2015-02-12 18:24] milessabin commented on #326
If you're just traversing then you might be better off using `everything` and yielding `Unit`.

[2015-02-12 18:40] fommil commented on #326
I'll try that tomorrow :smile: Yay! I'm using polymorphic functions for something very useful in PROD code :smile:

[2015-02-18 13:18] netvl opened #327 "`Generic` instances generation for case classes with varargs"
Currently shapeless can't generate `Generic` instances for case classes with variable arguments:
[code]

Maybe it makes sense to treat the last argument as `Seq[_]` or something like that.

[2015-02-18 15:29] milessabin commented on #327
Good catch ... do you want to take a pass at it?

[2015-02-18 20:46] tpolecat opened #328 "Odd issue with coproduct"
When I do this

[code]

and compile with sbt I get the following:

[code]

If I remove `Int` from the coproduct or if I replace the `Bar` with `String` it works.

[2015-02-18 21:02] milessabin commented on #328
This appears to be caused by the use of a default-to-`null` implicit argument in one of the implicits for `Selector`.

Splitting the method into two, one to handle the present case and one to handle the absent case fixes the problem ... I have no idea why this should affect `Bar` vs. `String`.

[2015-02-19 09:35] netvl commented on #327
@milessabin, do you suggest me to try and fix this? I'd like to, but I will need some time in order to understand how the macro machinery works.

[2015-02-19 09:54] milessabin commented on #327
Yup.

If no one else picks it up, I will, before the next release, but it might make an interesting project for someone who's interested in shapeless and wants to get a feel for macros.

I'd say not "low hanging fruit" (because macros) but definitely doable.

[2015-02-19 09:55] netvl commented on #327
Yeah, count me in then :)

[2015-02-19 10:02] milessabin commented on #327
Feel free to assign it to yourself if/when you have time to work on it.

[2015-02-20 10:25] netvl commented on #327
@milessabin, I can't assign an issue to myself but anyway, I've submitted a PR.

[2015-02-20 11:39] tbfenet opened #331 "Using toHList to convert to record"
I am using toHList to convert a list to a record with 2.0.0 scala version 2.11.2. This seems to have problems with Value types and I have had add my own Typeables to get it to work such as

[code]

Is there a better way?

[2015-02-20 12:02] milessabin commented on #328
I tentatively conclude that this is a scalac bug ... aside from eliminating the default-to-`null` implicit you can also avoid the problem by moving the case class definitions inside `object Stuff`, which shouldn't have any semantic impact at all.

Anyhow, eliminating the `null` is the right thing to do and that appears to fix the problem wherever the case classes are defined. I'll push that shortl

[2015-02-20 13:29] milessabin commented on #331
This isn't really a bug report, so would you mind posting this as a question to the mailing list, or on Stack Overflow?  Those are the best fora to ask for advice on application of shapeless, and answers there are more discoverable by other people who find themselves in similar situations.

[2015-02-20 14:26] #328 closed

[2015-02-22 18:40] #131 closed

[2015-02-23 08:26] milessabin commented on #203
Fixed in #332 ... many thanks @dwijnand :-)

[2015-02-23 08:26] #203 closed

[2015-02-26 21:49] milessabin commented on #313
Fixed in #335.

[2015-02-26 21:49] #313 closed

[2015-03-05 23:59] ceedubs opened #336 "Weird implicit search failure with ops.hlist.At and Nat._0"
Sorry to just point to code, but I think that a small code example can describe this much better than I could with prose. See fairly minimal example [here](https://gist.github.com/ceedubs/119f5fc72c4acd22e52a).

I think Scalac is _probably_ to blame here, but I don't know why this is failing. It's weird to me that it's just for the case of zero, which makes me wonder if the problem lies in the way

[2015-03-13 15:40] milessabin commented on #331
Closing for now ... please follow up to the mailing list, Gitter or Stack Overflow.

[2015-03-13 15:40] #331 closed

[2015-03-13 15:44] milessabin commented on #325
Not really sure where to go with this. I think the only suggestion I have is to define a `validateEverywhere` poly directly (you can reuse all the SYB infrastructure to do that) and make sure that it is only instantiated in one place. That should limit the deprecation warnings to just the instantiation site.

Does that help?

[2015-03-13 15:46] milessabin commented on #322
As @ritschwumm says, this is a issue with `knownDirectSubclasses`. I'm afraid there's not a lot to be done here.

[2015-03-13 15:48] milessabin commented on #281
Could you give this another try with the latest 2.2.0-SNAPSHOT or 2.2.0-RC1?

[2015-03-13 15:54] milessabin commented on #327
Fixed in #330.

[2015-03-13 15:54] #327 closed

[2015-03-13 15:57] milessabin commented on #240
Fixed in #240. Plenty of scope for more along the same lines as this.

[2015-03-13 15:57] #240 closed

[2015-03-13 15:59] milessabin commented on #238
We have a number of examples of the general pattern now, so I'm going to declare victory on this one.

[2015-03-13 15:59] #238 closed

[2015-03-13 16:27] #231 closed

[2015-03-20 22:08] pkinsky opened #340 "Macro error when mapping over an HList with Predef.identity"
[code]

Weirdly enough, this works when there are no spaces surrounding ```::``` in the first HList.

[2015-03-24 16:33] milessabin opened #343 "Core data types and type classes should be Serializable"
In particular, `HList`, `Coproduct`, records, unions and the corresponding ops type classes.

[2015-03-24 16:36] milessabin commented on #343
This is easy (ie. sprinkle `extends Serializable` everywhere), but there's a lot of it. If several people feel like taking part of the job on it would be a good idea to coordinate here to avoid duplicated effort.

[2015-03-24 16:58] alexarchambault commented on #343
About `HList`, `Coproduct`, records, and unions, aren't they already? All their *instances* are case classes, which automatically implement `Serializable`.

[2015-03-24 16:59] milessabin commented on #343
I think we also need the root traits to extend `Serializable`.

[2015-03-24 17:01] milessabin commented on #343
One piece of good news: because the ops type classes are only implemented in shapeless and not by third parties it should be OK to not bother with specifying `SerialVersionUID` (observation due to @mpilquist).

[2015-03-24 17:21] alexarchambault commented on #343
Why would root traits need to extend `Serializable`? Serializability is only needed for specific instances, and only at runtime.

[2015-03-24 17:27] milessabin commented on #343
Fair comment, however see this ticket wrt `Either`: https://issues.scala-lang.org/browse/SI-9173.

[2015-03-24 17:50] alexarchambault commented on #343
@milessabin Ok, It's a LUB issue then. (Serialization always worked.)

[2015-03-24 18:23] milessabin commented on #343
Yup. I saw that come past in the context of lots of excitement around serializablity and Spark and put two and two together to make five ;-)

[2015-03-25 15:22] milessabin commented on #340
This is a relic of the experimental support for lifting polymorphic methods to Polys. The latter should probably be removed completely and reworked in the light of the recently added support for SAMs.

[2015-03-25 15:27] milessabin commented on #336
Sorry ... this one slipped through the cracks.

Very odd ... do you need a fix urgently?

[2015-03-25 15:45] ceedubs commented on #336
Well it is blocking my development of typelevel tic-tac-toe, but I think all of my paying clients for that project could wait a bit before shipping it to production ;)

[2015-03-25 15:58] milessabin commented on #314
I can't reproduce this WRT shapeless 2.2.0-SNAPSHOT.

Also, where you say,

I think that would now covered by something derived in terms of `Generic1[Wrapper]`.

[2015-03-25 20:31] ijuma commented on #343
@milessabin Can you please expand a bit on the reason why it's OK not to specify `SerialVersionUID` for type classes that are not implemented by third parties?

[2015-03-25 20:38] alexarchambault commented on #314
Indeed, seems to be fixed in 2.2. That's great! No need for `Generic1`, just `[T: TC]` is enough to get a `TC[Wrapper[T]]`.

[2015-03-25 20:38] #314 closed

[2015-03-26 10:11] milessabin commented on #343
I'm channeling @mpilquist,

Happy to hear alternative views ...

[2015-03-26 10:15] milessabin commented on #314
Thanks for the update! :-)

[2015-03-26 10:22] ijuma commented on #343
Is the idea that people will use serialization to send data for remoting, but not for storage? If so, I think it's acceptable if the effort to provide this guarantee is high. It does mean that people will find it harder to upgrade to new shapeless versions as the upgrade must happen in lockstep between different services.

[2015-03-26 10:36] milessabin commented on #343
This is mainly about type class instances, which probably shouldn't be being serialized anyway.

`HList` and `Coproduct` are already case classes/objects, so I guess handled by default. And they're minimal, so unlikely to change representation between versions.

[2015-03-26 10:43] milessabin commented on #343
See also serializability tests from Algebra here: https://github.com/non/algebra/blob/master/laws/src/main/scala/algebra/laws/Rules.scala#L12 /ht @non

[2015-03-27 15:59] sgrif opened #345 "Derived type classes defined on companion object result in NullPointerException after migrating to 2.1"
I've been experimenting with using the type class feature in shapeless to remove some boilerplate in the Android framework. After migrating to 2.1, [these lines](https://github.com/sgrif/scala-android-parceling/blob/124f5b23bcfebf15319c1d0f201f3cdc1d03ff3d/src/test/scala/CompositionTest.scala#L39-L45) result in `null` being passed as the implicit parameter [here](https://github.com/sgrif/scala-and

[2015-03-27 15:59] sgrif opened #346 "Unable to reference type class instance inside of class definition after migrating to 2.1"
I've been experimenting with using type classes from shapeless to remove some boilerplate from the Android framework. The use case here is rather interesting, however, as what I ultimately need is for the class to implement a java interface. While I can move the bulk of the behavior into the type class, I still need the adapter layer that ensures the class being serialized implements this interfac

[2015-03-27 16:38] milessabin commented on #345
You need to remove the explicit type annotations on the cached implicits,

[code]
If you don't then the val being defined on the LHS will be in scope for the derivation on the RHS and you'll end up seeing the default-initialized `null`.

I appreciate that the normal rule for implicit definition is to _always_ specify a type explicitly, however caching scenarios like this are an exception (I believ

[2015-03-27 16:39] milessabin commented on #346
Is this resolved via the fix for #345?

[2015-03-27 16:48] sgrif commented on #346
No, this one doesn't even compile. It's a separate issue. While there is technically an explicit type annotation, I'm not sure how I could remove it, since the only time it's explicitly referenced is as an abstract method.

This is what the relevant code isolated looks like, along with the compiler errors I get for various ways I attempted to define the member.

[code]

[2015-03-27 16:48] sgrif commented on #345
Removing the explicit type parameter works.

[2015-03-27 16:49] sgrif commented on #346
Also just worth noting the class `Foo` in the files I'm mentioning here is a different class from the test files in the other issue.

[2015-03-27 16:53] sgrif commented on #346
Interestingly, this one works:

[code]

[2015-03-27 17:06] sgrif commented on #346
I see a similar issue if I try to use an auto derived instance for a collection class, such as `List`.

[2015-03-27 17:08] milessabin commented on #346
Can you put together a self-contained example that I can play around with?

[2015-03-27 17:08] milessabin commented on #346
[code]
Is fine because the val isn't implicit.

[2015-03-27 17:21] sgrif commented on #346
https://gist.github.com/sgrif/2f2bc5b8aae7063cc2f4

[2015-03-28 14:57] milessabin commented on #336
It appears that the constraint on the `Out` parameter of `At.Aux` is to blame. This doesn't completely surprise me ... you're asking scalac to unify `Out` with `Row[R]` and simultaneously infer `R` ... I guess I'm more surprised that it works for non-`_0` than that it doesn't work for `_0`. I have no explanation for the difference between the two cases either.

I do have [a workaround](https://gis

[2015-03-28 15:25] milessabin commented on #346
Thanks for the example.

The requirement for the type annotation [here](https://gist.github.com/sgrif/2f2bc5b8aae7063cc2f4#file-example-scala-L51),

[code]
Is due to the fact that if no type annotation is provided then the type of `parceler` must be inferred from the RHS of the definition, `Parceler[Foo]`, but this depends on the type of `Foo` being fully know, which in turn depends on knowing the

[2015-03-28 17:22] milessabin commented on #343
OK, I'm making a start on this now ... please could anyone else who's looking at it ping me.

[2015-03-28 19:38] adelbertc commented on #343
Mostly been using Shapeless in conjunction with Spark SQL, using the `HList` bits to track schema and whatnot. Things that will need to be `Serializable`:

* `HList` and `HList` related operations - say we have a Spark SQL table of rows and they want to `map` over the rows with `L <: HList => A` - this may involve stuff like the `Mapped` and `Length` type class since Spark may want to close over t

[2015-03-28 19:40] milessabin commented on #343
Thanks ... very much appreciated :-)

[2015-03-29 00:38] antonkulaga opened #347 "consider official support of scalajs"
As ScalaJS is already production-ready and many popular libraries officially crosscompile to it, please consider crosscompilation of shapeless to scalajs. At the moment there are two scalajs forks of shapeless (one by @alexander-myltsev and one by @japgolly) , so I suggest to talk with them and if at least one of them will be ok to take care of all scala-js related shapeless issues - crossbuild to

[2015-03-29 01:24] milessabin commented on #347
Have you seen the commentary on #100?

[2015-03-29 02:16] antonkulaga commented on #347
Yes, I have seen it but it was long time ago. ScalaJS is more stable now and building cross scala/scalajs projects is easier, many popular libraries (like scalacheck ) already officially crossbuild to scalajs.

[2015-03-29 09:01] milessabin commented on #347
The issue now, as it was then, is that Scala.js build issues are best looked after by people that work with Scala.js regularly. That's not me, at least not right now. A fork of shapeless that's maintained by someone who knows and cares about Scala.js seems completely appropriate.

I'm not opposed in principle to having Scala.js build related things in the main shapeless repo, but I don't see what

[2015-03-29 09:51] japgolly commented on #347
To shed light on why there are two forks, let me quote myself in https://github.com/japgolly/scalacss/issues/23:

There's no other reason than the points above. I haven't changed any of Shapeless' source code.

As to be benefit of having a Scala.JS build closer to home here, the benefit would be that declaring dependencies is cross-JVM/JS projects is easier. Easier in that
1. a different artifact

[2015-03-29 10:25] milessabin commented on #347
I don't know about "fallen in love with", but I am extremely impressed by Scala.js, and I'd love to support it as a first-class platform.

I'd be happy to do that on a branch in this repo (similarly to the way I branch to support Scala 2.10.x) if someone can volunteer to maintain the Scala.js specifics and merge from master regularly. I'll also need idiot proof instructions on what to do about pub

[2015-03-29 11:25] benhutchison commented on #347
Puts hand up for the job, If no one else wants it.

Im actively using scala js and maintain a cross build atm, https://github.com/benhutchison/prickle. I suspect most of the code diff for scala.js will be in build.sbt, not shapeless itself.

[2015-03-29 12:04] milessabin commented on #347
I think I'd like to see consensus between the people who have a strong interest in this. AFAIK @japgolly has been maintaining the most used fork ... can you work together to get a sensible branch together?

I'm happy to make whoever wants to take this on a contributor on the repo so you can merge to the branch without having me as a bottleneck.

[2015-03-29 20:12] sgrif commented on #346
You are correct, it should probably be defined on the companion object, and be `implicitly[Parceler[Foo]]` there.

Does being a product type mean something other than inheriting from `scala.Product`? Because `List` does.

[2015-03-29 20:28] milessabin commented on #346
Yes it does.

Product types are concrete instantiatable types with value members. They're represented generically as `HLists` (effectively nested pairs).

Things like `List[T]` are represented generically as `Coproducts` (effectively nested `Either`s) ... specifically `Nil.type :+: ::[T] :+: CNil` which is roughly the same as `Either[Nil.type, Either[::[T], Nothing]]`.

[2015-03-29 20:31] sgrif commented on #346
Thank you for the thorough explanation on all fronts. It looks like this is user error on my part in all cases, then. I appreciate you taking the time to help me understand this.

[2015-03-29 20:31] #346 closed

[2015-03-29 21:26] japgolly commented on #347
That's great news. :)

I'd like to be involved in the maintenance. I should probably just let go but I'm a little paranoid that small things will be missed :P

[2015-03-29 22:09] benhutchison commented on #347
@japgolly I reckon you're the right person to maintain if you're willing.
Im happy to be in reserve.

On Mon, Mar 30, 2015 at 8:26 AM, David Barri <notifications@github.com>
wrote:

[2015-03-30 09:42] InTheNow commented on #347
Had a chat on scalajs on testing and getting scalajs into main - here is an abridged copy:

milessabin I don't want to move from JUnit ... given the option I'd rather not have any Scala dependencies in core.

InTheNow  jUnit is not cross-compiled to sjs - so the tests can only be run in JVM. other test frameworks - uTest. zCheck - do

milessabin OK, that's a problem. I'm afraid it means that you'l

[2015-03-30 15:10] ceedubs commented on #336
Thanks for investigating, @milessabin. I haven't yet tried out the workaround when chaining is involved, but if I run into trouble when I get to it, I'll just post a question to the Gitter channel.

[2015-03-30 15:10] #336 closed

[2015-03-30 19:11] milessabin commented on #347
Sounds plausible.

Does Scala.js have backends for more than one mainline Scala version? ie. 2.10.x vs. 2.11.x and going forward 2.12.x etc.?

[2015-03-30 19:22] InTheNow commented on #347
yes, every scala version - from their build file:

[code]

[2015-03-30 20:17] milessabin commented on #347
Gotcha.

The shapeless build uses branches to handle Scala version differences. Currently master it 2.11.x and the scala-2.10.x branch is for ... Scala 2.10.x. So we'll need two Scala.js, one for each.

Cross builds within those branches for the minor version number bumps should be fine, with the proviso that shapeless only supports Scala >= 2.10.4.

[2015-03-30 20:38] InTheNow commented on #347
why not have the scalajs in with the jvm  - its by far the best approach.

[2015-03-30 20:55] milessabin commented on #347
I've found branches by far the best way to handle Scala version differences thus far. I view the Scala.js variants to be more of the same, so I'd want to support them in the same way. I'm not entirely ruling out an alternative, but you'll need to make a very compelling case for it.

[2015-03-30 20:59] InTheNow commented on #347
It looks like @japgolly  and @benhutchison  are OK with supporting this approach (yes?). I've forked  @japgolly build and will get a version of the tests there, so you can all have a look.

[2015-03-30 21:01] milessabin commented on #347
@japgolly's existing fork is basically a branch, just hosted in a different repo. I think branching is the right way to go.

[2015-03-31 01:12] benhutchison commented on #347
Ideally of course, we'd run tests over the generated JS build of shapeless, but I see it as a nice-to-have, not a must have. If its alot of work, Im comfortable relying on the JVM tests as a pretty good warranty of correctness. IME so far, the kind of typeful/non-reflective/portable code in Shapeless, Scalaz and the like translates easily into scala.js. If there's a bug in the JS version only, it'

[2015-03-31 05:49] milessabin commented on #347
Beyond the constraints outlined above I'm happy for all of you to work out the best approach among yourselves. Is there anything you need from me to move this forward?

[2015-03-31 06:09] japgolly commented on #347
All sounds good.

Branches will be the least invasive and we can always merge builds in the future if there's a desire to do so.

Regarding tests, Scala.JS has proven _extremely_ reliable, so much so, that JVM tests passing gives me more than enough confidence that the JS will work. However, the JS build has a unique problem that the JVM doesn't, and that is Scala.JS's javalib coverage. Specifical

[2015-03-31 06:46] milessabin commented on #347
Access to the repo is fine ... I'll add you all a collaborators now.

I'd prefer to do the publishing step myself ... ideally I'd want to publish shapeless releases simultaneously for all supported platforms.

[2015-03-31 07:04] milessabin commented on #347
@japgolly, @khronnuz, @InTheNow ... for some reason I don't seem to be able to add you as collaborators at the moment ... the UI can't find your handles and isn't allowing me to hit the "Add collaborator" button. This might be a side-effect of the DDoS ... I'll keep trying.

If anyone knows of an alternative way to invite a collaborator, please let me know.

[2015-03-31 07:06] milessabin commented on #347
My mistake ... I shouldn't have prefixed your handles with an "@" ... force of habit ;-)

[2015-03-31 07:24] japgolly commented on #347
Thanks, that seems to have worked.

No problem at all re publishing. I'd like to back-publish a build for 2.1.0
so if that's ok, I'll ping you when it's ready :)

(Note: From Maven's point of view, SJS releases differ from Scala releases
in the same way that a Scala 2.11 build differs from a Scala 2.10 build:
different artifact IDs. Thus despite 2.1.0 being published already, there's
no problem pu

[2015-03-31 07:33] milessabin commented on #347
@japgolly gotcha ... from my PoV that gets along well with a "one branch per platform" policy.

[2015-03-31 09:07] milessabin commented on #347
FYI, I think for shapeless 2.2.0 I'll stop building for specific Scala 2.10.x versions ... there are now more 2.10.x variants which are compatible than aren't, and upgrading from 2.10.{0,1} to one which is shouldn't be a problem.

[2015-03-31 09:37] milessabin commented on #347
Quick sanity check. I'm adding `with Serializable` more or less everywhere to support Spark ... this isn't going to be a problem for Scala.js, is it?

[2015-03-31 13:00] InTheNow commented on #347
Either sjs supports it or we can add a stub for it in sjs. Otherwise, we'll find another solution :)

Re the JS tests - I think _not_ having them is a blocker for a lot of folks, including me. I do undersatnd the argument of where things normally fail due to missing libs - and yep, unlikely to be an issue here. But as shapeless has a habit of pushing the compiler, the chances of finding a compiler

[2015-03-31 16:28] milessabin commented on #347
That's good. If you can do the PoC as a pull request against master that'd be great.

[2015-03-31 22:23] benhutchison commented on #347
On Wed, Apr 1, 2015 at 12:00 AM, Alistair Johnson <notifications@github.com>
wrote:

Agree that shapeless pushes the compiler, but for the bug to show up /only
under JS/ it would have to be in the backend js codegen specifically.
Parsing/macros/typecheck/implicits are all identical between Scala.js and
Scala.jvm, and that where shapeless does its thing. Thats part of why
scala.js is so successful.

[2015-04-02 21:11] japgolly commented on #347
Personally, I'm on the fence wrt whether or not we should proceed before tests.
@InTheNow do you have a rough idea when you'll have a PR already?

Also @milessabin, when do you think 2.2.0 final will be ready? It'd be very nice to have its accompanying Scala.JS build be official. :)

[2015-04-03 08:22] milessabin commented on #347
I'm going to have to make an emergency RC3 because I screwed up `SingletonProductArgs`, but Ideally I'd like to go final in a week or so if there are no other showstoppers.

Nb. it's too late to include a new test framework for 2.2.0, but I would very much like to be able to make a simultaneous release for Scala/JVM and Scala/JS.

[2015-04-03 08:58] InTheNow commented on #347
cool. Re the new test fw, my comment has not come across as I intended as I knew it shouldn't go into 2.2.

What I was trying to say that even though I have something to look at, I think it is better if I keep it private for now so we/you can focus on the release. In a day or two I might push something to my GH but I don't want to create any stress around release time :)

[2015-04-04 04:41] japgolly commented on #347
Alrighty, you'll find that there are now two new branches.

##### scalajs-2.11.x :+1:

Easy as pie (assuming pie is easy - I'm not a chef). Build is infused with Scala.JS.
Treat it as you would the Scala build, so `sbt publishLocal` etc.

I've published this locally and tested it with [ScalaCSS](https://github.com/japgolly/scalacss/) and my private, much larger Scala.JS project. All compiles, all

[2015-04-04 08:31] milessabin commented on #347
Awesome! Thanks for that! When the time comes, is `published-signed` all that has to be done?

For scala-2.10.x ... is this a regression relative to shapeless 2.1.0? Also ignoring the examples, do the core tests compile and run successfully?

[2015-04-04 09:28] ngbinh commented on #347
awesome! :clap:

[2015-04-04 11:33] japgolly commented on #347
@milessabin My pleasure :) And yes, `sbt publish-signed` is all that's needed. All the normal SBT commands that work on the main Scala branch should work identically on the Scala.JS branch. (If ever that's not the case, let me know and I'll fix it.)

Regarding the tests -- I want to clarify a point and make sure there's no misunderstanding here -- they compile but they *cannot be run* because JUni

[2015-04-07 09:48] InTheNow commented on #347
I've pushed the first cut of the tests to https://github.com/InTheNow/shapeless. The tests use macro paradise to give macro annotations for juint's `@Test`, neither of which I would like to keep. Rather, see `core/src/test/scala/shapeless/hlistSpecLite.scala` that has the SpecLite format, that is also what the macro expands to (sort of). The duplicate test also explaind the extra tests below and t

[2015-04-08 07:06] japgolly commented on #347
I had a chat with @InTheNow. Summary of the situation:
* New suggested, embedded test framework is called SpecLite. ([Code here](https://github.com/InTheNow/shapeless/tree/shapeless-2.1.0-js/core/src/test/scala/shapeless/test)).
* There is a macro to make the current tests work almost as-is ([sample](https://github.com/InTheNow/shapeless/blob/shapeless-2.1.0-js/core/src/test/scala/shapeless/hlist.

[2015-04-08 08:20] InTheNow commented on #347
quick update on failing tests in JS - I've gone through all of them and nothing serious at all.

[2015-04-08 15:11] AlecZorab opened #350 "Enable inference of input types when using FnToProduct."
From the shapeless 2.0 feature overview:

[code]
it would be nice to be able to provide `(_ + _)' and have the parameters inferred.

Similarly, given an `F[A <: Hlist]` and a suitable functor instance for `F`, it would be nice to be able to call `map` with a lambda of the appropriate arity and have the types inferred correctly.

[2015-04-08 18:44] InTheNow commented on #347
Linker crashes put in mini-project and raised with scalajs

@milessabin What are your thoughts on moving this fwd? Would it be useful for an offline chat (gitter, skpe, etc), as I did with @japgolly?

[2015-04-09 10:39] milessabin commented on #347
I'm slightly suspicious of the use of the macro annotation in the new tests. Could you take one of the ones that fail tests and run its JUnit original as a main class?

[2015-04-09 10:40] milessabin commented on #347
I'm happy to publish a 2.11 Scala.js build of 2.2.0-RC4 if you think that would move things along.

[2015-04-09 11:15] InTheNow commented on #347
Sort of why I wanted a quick chat to fully explain what is going, but the quick answer now is:

- The tests pass in JVM
- Junit cannot cross-compile to sjs, and probably never will
- the macro annotation is a _temporary_ solution to get the tests running without having to refactor all of the tests. As an example - see [hlist](https://github.com/InTheNow/shapeless/blob/shapeless-2.1.0-js/core/src/t

[2015-04-09 11:32] milessabin commented on #347
If there's a semantic difference between JS/JVM that causes some of the tests to fail I'd be very keen to know the details.

Can we arrange another chat with @japgolly?

[2015-04-09 11:34] InTheNow commented on #347
Can do, but @japgolly is in Sydney time zone.

[2015-04-09 12:38] milessabin commented on #350
It looks like all this needs is a contravariant `FnToProduct`. If you like to experiment with making the primary definition in shapeless contravariant (it's not quite a simple as just adding a `-`) I'd be happy to include that in 2.3.0,

[code]

[2015-04-09 16:22] InTheNow commented on #347
Please see @sjrd 's rapid investigation on the linker (actually IR) issue https://github.com/scala-js/scala-js/issues/1585

[2015-04-10 15:56] Daenyth opened #351 ""Higher Rank Polymorphism" pdf link in README is broken"
I get a 404: http://www.cs.rutgers.edu/~ccshan/cs252/usage.pdf

[2015-04-10 16:27] milessabin commented on #351
Well spotted! It seems to have moved [here](http://camlunity.ru/swap/ocaml/Sexy%20Types.pdf).

README updated ... many thanks :-)

[2015-04-10 16:27] #351 closed

[2015-04-10 17:29] Daenyth commented on #351
Thanks :)

[2015-04-12 13:37] InTheNow opened #352 "Change Double.toString syntax in tests for JS"
In JS, Double.toString has different semantics than in JVM, especially that a trailing `.0` is omitted - see [Semantics of Scala.js](http://www.scala-js.org/doc/semantics.html)

As a consequence, tests [such as this] (https://github.com/milessabin/shapeless/blob/master/core/src/test/scala/shapeless/poly.scala#L469) fail in JS

[2015-04-12 13:47] InTheNow opened #353 "Release JS RC version"
It would be good to get a RC release for JS, rebased on master

[2015-04-12 13:55] InTheNow opened #354 "Make PartialOrdering.tryCompare equality checks less specific"
Tests [such as this](https://github.com/milessabin/shapeless/blob/d59463a0c093a21345754226702cbd807015b6ca/core/src/test/scala/shapeless/coproduct.scala#L370) fail in JS as the actual test result is `some(-1)`.

In fact, the API only specifies that `lteq` will return negative so the tests should be made less specific accordingly.

The should be applied to master as well as JS branches.

[2015-04-13 12:56] InTheNow opened #355 "Tests for casts in JS fail due to differing JS/JVM semantics"
Tests [such as TypeableTests.testTuples](https://github.com/milessabin/shapeless/blob/master/core/src/test/scala/shapeless/typeable.scala#L326) fail on JS as it is a dynamic language and tries to cast anything it can. These types of tests need to be changed on JS only to return false (i.e. they are not empty).

See [Semantics of Scala.js](http://www.scala-js.org/doc/semantics.html)

[2015-04-13 13:09] InTheNow opened #356 "TypeOperatorTests.testRejectBogus fails in JS tests"
`assert(Try(the.Foo).isFailure)` [fails in test](https://github.com/milessabin/shapeless/blob/master/core/src/test/scala/shapeless/typeoperators.scala#L151) as shapeless macro converts to `Unit` that is represented as `undefined` in sjs. As a result, a fatal error is thrown that is not caught by the `Try`.

This can be changed in master to a regular `try...catch`

[2015-04-13 13:11] milessabin commented on #355
I guess I'm not surprised that there are issues with `Typeable` given that it uses reflection.

But surely there's an alternative runtime typing mechanism which could be used here instead? I would be happy for the Scala/JS branch to use that as an alternative to JVM reflection in the implementation of `Typeable`.

[2015-04-13 13:16] InTheNow opened #357 "Lift methods in Poly do not link in JS"
See also https://github.com/scala-js/scala-js/issues/1585

It is possible that although they work on JVM, they are actually invalid

[2015-04-13 13:18] InTheNow opened #358 "Disable Poly lift tests in JS"
See https://github.com/milessabin/shapeless/issues/357 and  https://github.com/scala-js/scala-js/issues/1585#issuecomment-91478815 for more details.

[2015-04-13 13:39] InTheNow commented on #355
Makes sense, and I shall investigate accordingly.

[2015-04-13 13:42] InTheNow opened #359 "Replace JUnit with integral test framework"
See  https://github.com/milessabin/shapeless/issues/347 for rational/discusssion.

[2015-04-13 13:45] milessabin commented on #355
Interestingly, this might make `Typeable` into a portable reflection-replacement.

[2015-04-13 13:47] InTheNow commented on #347
As this issue is about "considering" official scalajs support and that there are now other issues about the actual "implementation", I guess this issue can now be closed.

@antonkulaga Hi Anton, are you happy to close this?

[2015-04-13 20:56] fommil commented on #256
any more thoughts about this one?

[2015-04-14 06:50] milessabin commented on #256
Can you remind me what the motivation for this is?

[2015-04-14 07:57] alexarchambault opened #360 "Generic too broad in 2.2?"
Compared to 2.1, it handles the following new cases (possibly others?),
[code]

[2015-04-14 07:57] alexarchambault commented on #360
(Quickly asked you about it on gitter, better to discuss it here.)

[2015-04-14 08:03] milessabin commented on #360
`class C` is intended ... it's as case-class-like as `case class C()`.

`Generic[Array[...]]`, on the other hand, isn't intended and the current behaviour (yielding `HNil` as the representation type) is definitely a bug.

[2015-04-14 08:12] fommil commented on #256
when writing a marshaller for a singleton, it would be good to have access to the Scala name. Currently one can ask for the `value` and then `getClass.getSimpleName` etc but that's the Java name rather than the Scala one (plus it's all runtime lookup).

[2015-04-14 08:23] milessabin commented on #256
Right, but I think that in any context where the type is known precisely enough for the name to be read off it, the name is also known statically (ie. you could always use a string literal).

Is the motivation to avoid duplication like,

[code]
I think it might be possible to make something like,
[code]
work, but it seems like a very marginal win, particularly as you probably shouldn't be tying se

[2015-04-14 08:42] alexarchambault commented on #360
About `class C`, I understand it is intended, but... I find it still somewhat surprising in practice.

Most of the time, I would consider this kind of classes as blackboxes, that I wouldn't want to assimilate to a case class when deriving type classes (codecs, pretty-printers, ...). I'd prefer to see type class derivation just fail for them (and possibly allow their derivation explicitly via a non

[2015-04-14 08:53] milessabin commented on #360
FWIW I made this change to support @cvogt's Scalacheck examples ... if we revert the new behaviour then they'll no longer work as expected.

[2015-04-14 09:08] milessabin commented on #360
Can you flesh out this argument a little ... what motivates that preference?

One of the things that this supports is, eg. non-case classes with lazy members ... needed for immutable cyclic structures ... do you really want to exclude them?

I guess what I really need is some fairly precise criteria for deciding whether a given type should have a generic representation or not. case classes only is

[2015-04-14 09:09] fommil commented on #256
in ENSIME we absolutely want it to be tightly coupled :smile: because it could be input to the presentation compiler.

`NameOf` sounds good! It would be great if it had both Java and Scala names available (we use those in the lucene index)

[2015-04-14 09:10] milessabin commented on #256
OK. This will be for 2.3.0 though.

[2015-04-14 10:35] alexarchambault commented on #360
Looking more closely at https://github.com/alexarchambault/scalacheck-shapeless/blob/master/src/test/scala/org/scalacheck/Definitions.scala#L55-L56, I didn't know at the time whether they should be considered case class-like those of https://github.com/milessabin/shapeless/blob/master/core/src/test/scala/shapeless/generic.scala#L96-L109. If this use case was the only motivation, they definitely sh

[2015-04-14 11:01] milessabin commented on #360
`List[T]` being considered a coproduct is absolutely by design. I'm not going to revert that. Can you explain what the problem is here?

[2015-04-14 11:05] milessabin commented on #360
I think your problem with the `Shrink` instance is actually a issue with implicit prioritization for orphan type class instances in general. The generic instance is accessible without a prefix so it overrides the instance available in the implicit scope.

This is a problem (I'm trying to deal with it in shapeless-contrib at the moment), but the problem emphatically isn't the fact that `List[T]` ca

[2015-04-14 11:10] alexarchambault commented on #360
I agree with List[T] being a coproduct

Le mardi 14 avril 2015, Miles Sabin <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> a écrit :

[2015-04-14 11:18] alexarchambault commented on #360
I used List just to illustrate sometimes surprising (but perfectly legit in this case) type class derivation. But it's less legit for Array[T], and possibly the classes of scalacheck-shapeless you were talking about.

[2015-04-14 11:23] milessabin commented on #360
The reason that @cvogts `Bar` didn't have a `Generic` instance is that it had no constructor arguments: I previously had a check for at least one val constructor argument ... adding a single constructor val argument would have made it case-class-like and it would have had a `Generic` instance. I decided that there wasn't a difference between 0 and 1 arg that was sufficient to motivate the exclusio

[2015-04-14 11:27] milessabin commented on #360
I completely agree that `Array[T]` is a problem.

We want `gen.from(gen.to(x)) == x` but that's not something that we can guarantee in general, even for case classes. I went to some lengths to ensure that, eg. `String` didn't end up with a `Generic` representation, and I thought that would cover all but edge cases which could be worked around in a reasonably straightforward way. `Array[T]` is obvi

[2015-04-14 11:34] milessabin commented on #360
Hmm ... though now I come to think of it, maybe `String` _does_ have a generic representation: `HList` ... which could then be refined via `Typeable`. And `"foo".type` could be represented as `'f'.type :: 'o'.type :: 'o'.type :: HNil`. And I guess `Array[T]` could be handled similarly.

The issue is that we don't want strings and arrays to be represented as `HNil` (which is want would drop out of

[2015-04-14 12:12] stacycurl commented on #256
This will be handy for [delta](http://github.com/stacycurl/delta) too.

It would allow code like this:
[code]

[2015-04-14 12:28] alexarchambault commented on #360
For arrays, I agree that the problem lies more in the generic representation being `HNil` rather in having a `Generic` instance per se. But what generic representation would you give to arrays then?

[2015-04-14 12:45] milessabin commented on #256
@stacycurl can't you get that already from `LabelledGeneric`?

[2015-04-14 12:47] milessabin commented on #360
That is wandering off topic for this ticket a little ... maybe on gitter?

[2015-04-14 13:05] alexarchambault commented on #360
Sure!

[2015-04-14 15:01] cvogt commented on #360
I agree with case class being too narrow and classes being too broad. Conceptually you want type classes to be derivable when the classes satisfy certain laws, right? We expect case classes to satisfy certain laws (even though some can be broken), but other classes may satisfy some laws as well. Maybe declaring which laws they satisfy would help, maybe again via type classes.

[2015-04-14 15:09] stacycurl commented on #256
No idea, haven't used LabelledGeneric before, I'll give it a try.

[2015-04-14 15:17] alexarchambault commented on #360
I was thinking of an opt-in mechanism, like an additional import, to allow some non-case classes to be seen case classes.

[2015-04-14 15:29] cvogt commented on #360
The "opt-in" mechanism could be a type-class that automatically whitelists certain sorts
 of classes, i.e. single constructor argument list only vals ones. An alternative non-implicit import could allow selective whitelisting of classes instead.

[2015-04-14 16:25] InTheNow commented on #359
I've pushed the impl of this to https://github.com/InTheNow/shapeless/tree/fix/359 but there are two issues that I cannot (quickly) fix, both in `typeable testToString`

- one is a commented out `Todo` that will not compile https://github.com/InTheNow/shapeless/commit/8b1437040fcff6618da34b76feec3c6557e3b159#diff-09386dc83c17179e88988cbaeb0d960eR541
- the other is failed test:

[code]

@milessabin

[2015-04-14 17:10] InTheNow commented on #359
btw, you may notice that all the indentation in the test  is "wrong", as the `should {` clause adds an extra level of intention. I've _deliberately_ removed the indentation so as to make it clear what the actual changes are; otherwise, it's impossible as all lines are changed => 14,000 LOC changes

@japgolly @benhutchison Sorry I missed you out on previous comment, my apologies :)

[2015-04-14 17:12] fommil opened #361 "is there a way to use (something like) a Poly on a sealed trait?"
I'd like to be able to remove boilerplate like this:

[code]

If I know which implementation of `Trait` I have, then obviously there is no need for the `thing` method, but it gets really really long if I have quite a few implementations.

If all I'm doing is a side-effect, or a transformation that doesn't change the type signature, then I've found that `everywhere` works quite well (that's probabl

[2015-04-14 17:14] fommil commented on #361
btw, is it perhaps better to ask these sorts of questions on stackoverflow? I'm used to using the issue tracker as a Q&A forum but since shapeless has an active community, there might be a better place to ask this sort of thing.

[2015-04-14 17:49] InTheNow commented on #359
I've just pushed https://github.com/InTheNow/shapeless/commit/2942e7c8ce27f2f25441f29a3519b2dd59db52eb that "fixes" the two issues mentioned above, but I'm not overly confident with the result.

fyi, the non-compile error message was:

[code]

hence the obvious workaround  with an explicit assignment before the tests assertion.

[2015-04-14 18:42] fommil commented on #361
am I just being an idiot, is this just basic application of a poly?

[2015-04-14 18:53] fommil commented on #361
Almost, I have this:

[code]

but I can't see how to actually apply this to an instance of a `Trait` and get a `String` back (well, for the compiler to know that).

[2015-04-14 18:55] fommil commented on #361
I'll discuss on gitter and close here. Full code at https://gist.github.com/fommil/d3fe97c86deb74a94fe2

[2015-04-15 08:20] milessabin commented on #359
+1 on preserving the whitespace. We can fix that once we're happy.

[2015-04-15 08:31] milessabin commented on #359
Yup, that problem with the `Typeable` test is odd. Another one for @sjrd?

[2015-04-15 08:41] sjrd commented on #359
This looks pretty normal to me. Scala would tell you the same thing. Since you enclosed everything in a `should {}` closure, classes, traits, and objects need to have mangled fully-qualified names, and scalac takes care of that. So it is also normal that moving the definitions outside of the `should {}` closure fixes the issue. The change is not dubious, IMO: it is the right way to go about it.

[2015-04-15 08:44] sjrd commented on #359
Regarding the `val result =` workaround, I have no idea. It would probably be useful to see the stack trace, at least, to discover which compiler phase is responsible.

[2015-04-15 08:46] milessabin commented on #359
Ahh ... yes, that does make sense.

One issue this raises is that there are a number of tests which specifically relate to things (esp. case classes) being defined at the top level vs. locally. These are mostly defined in blocks of code which are simply expected to compile or not rather than being tests per-se, so I think they're probably unaffected, but I'd like to be sure that in changing the te

[2015-04-15 09:57] fommil commented on #361
full example https://gist.githubusercontent.com/fommil/d3fe97c86deb74a94fe2/raw/1c13543baf34a01f949b5f534cc3434ef3565c05/gistfile1.scala

[2015-04-15 10:25] fommil commented on #361
reopening because actually this needs me to know the type when passing it to `thing`... I need it to resolve which element in the coproduct to use.

[2015-04-15 11:01] milessabin commented on #361
This isn't a bug! You need to map your poly over the coproduct representation of `Trait`.

[2015-04-15 11:01] #361 closed

[2015-04-15 11:04] fommil commented on #361
I updated the gist, I don't know how to do the `select` call to get the result back again.

[2015-04-15 11:11] milessabin commented on #361
Seriously, this is a StackOverflow question, or something to ask about on the gitter channel. Also check your twitters for a solution ;-)

[2015-04-15 11:11] fommil commented on #361
cool, `unify` works! Thanks :smile:

The syntax is a bit messy though, is there any way to do it all within a single `object`?

I can't use gitter at work and stackoverflow is very flaky (random pages banned).

[2015-04-15 11:14] fommil commented on #361
if I put that logic in an `apply` on the `object`, it also works, which is cleaner. I'll look into abstracting it to avoid having to write the `Generic / mapping` etc.

Is there a big overhead to obtain the `Generic[T]` or should that be cached?

[2015-04-15 11:17] milessabin commented on #361
Gotcha, but please don't use issues for this sort of thing. Send me a mail or something.

[2015-04-15 11:19] fommil commented on #361
ok, that really limits me though because I don't get a reliable mobile signal at work :sob: I'll send them at lunchtime or wait till the evenings and use stack overflow.

[2015-04-15 11:25] milessabin commented on #361
Use a gist then?

[2015-04-15 11:50] fommil commented on #361
Will do! Might write this up tonight as a Q&A on shark overflow

[2015-04-15 12:38] InTheNow commented on #359
quick point here... this is at the moment pure scala JVM only. So @sjrd is quite right in asserting  that scala would complain ;)

@milessabin Yes, it's quite easy to see what has changed and for sure the small changes need analysis to ensure the semantics are the same and also that new issues have been discovered.

And whilst @sjrd is in the loop:

- There are two added files [here](https://githu

[2015-04-15 12:54] sjrd commented on #359
I don't care about the license for these two files, no.

[2015-04-15 13:20] milessabin commented on #359
I'm fine for them to be included with the proviso that it doesn't complicate the licensing situation.

There's some scala 2.10 vs. 2.11 macro compat stuff and use of `reify`/`splice` in `TestUtils` ... I have a **strong** preference for taking 2.11 and quasiquotes as canonical, then merging to a 2.10 branch (with macro paradise, so quasiquotes are available) and backporting. That's the way it's do

[2015-04-15 13:23] fommil commented on #361
http://stackoverflow.com/questions/29651482

[2015-04-15 14:30] InTheNow commented on #359
re the macro compat: really is no np, was going to do it anyway, just wanted to know your general position before spending too much time on it. Once you are happy with the test migration semantics, etc above, I'll make the changes, squash and push.

[2015-04-15 20:27] tpolecat opened #367 "2.10 REPL woes - shapeless 2.2.0-RC4"
Here is a self-contained example of the REPL failure I'm seeing in **doobie** ... the following works just fine as normal source in 2.10, but the derivation does not work in the REPL. It works fine with 2.11.

[code]

[2015-04-16 08:55] milessabin commented on #367
Is this a regression relative to 2.1.0 or something you've noticed just now?

[2015-04-16 09:14] #354 closed

[2015-04-16 09:15] #356 closed

[2015-04-16 16:43] tpolecat commented on #367
Ah, very good question. This actually doesn't work in 2.0.0 either. The following encoding (which is what's in doobie master at the moment) *does* work, so I can just change your PR back to the way it works now and I think we'll be ok. It looks like there's something in the way `ProductTypeClassCompanion` arranges the machinery that doesn't quite work in 2.10.

[code]

[2015-04-16 18:04] milessabin commented on #367
Err ... `deriveProductInstance` is long gone.

[2015-04-16 18:12] milessabin commented on #367
What happens if the definition of object/class `Foo` is compiled and only `implicitly[Foo[(Int,String)]]` is executed from the REPL?

[2015-04-16 23:05] alexknvl commented on #325
Have you tried adding a separate case for `java.math.BigDecimal` in your `validator`? This deprecation warning is triggered by `def apply(bd: java.math.BigDecimal): BigDecimal` and I am guessing that it is called because something inside of `everywhere` / `poly` is trying to convert a java BigDecimal to scala BigDecimal using an implicit conversion.

[2015-04-17 00:09] alexknvl commented on #325
The only two functions that could somehow trigger that warning are:
[code]
However, AFAIU calling `apply(bd: BigDec)` is not supposed to trigger it. It must be triggered by a call to `def apply(bd: BigDec, mc: MathContext): BigDecimal`, which is weird to say the least. This deprecation was added in https://github.com/scala/scala/pull/3316 (2.11.x).

I could not reproduce this warning though, at le

[2015-04-17 07:40] #360 closed

[2015-04-19 19:35] fommil opened #368 "non-trivial AST breaks the coproduct derivations"
I extended the `sexp.scala` with a non-trivial AST https://github.com/fommil/shapeless/blob/sexp_ast/examples/src/main/scala/shapeless/examples/sexp.scala

(copied to https://gist.github.com/fommil/1552641fad3daf36b8af for posterity)

but I see this compilation error

[code]

The AST is a little simpler than the one I actually wanted to test, but I don't expect the simplifications to be relevant t

[2015-04-20 17:32] fommil commented on #368
@milessabin FYI, initial performance tests on JSON data at my work (100GB of data from 7m documents, **not** the AST in this report) suggest that this approach is on-par with super-optimised-to-hell-and-back hand-crafted spray-json marshalling.

**w00t**! :grinning:

(i.e. about 20,000 deserialisations / second). The hand-crafted spray-json finished in 256s and the Spray JSON based on `sexp.scala`

[2015-04-23 16:49] clayrat opened #369 "encoder derivation for argonaut-shapeless fails on custom Enums"
Trying to use **argonaut-shapeless** to derive case class Json encoders for some autogenerated by [ScalaBuff](https://github.com/SandroGrzicic/ScalaBuff) code, I've ran into a following issue:

[code]

This code fails to compile with the following errors:
[code]

There are several ways to make it compile:
* comment out one of the `BarA`, `BarB`, `BarC`, leaving only two.
* drop the `Option` in the

[2015-04-24 14:42] notxcain opened #370 "Support Generic derivation for overlapping types"
Given the following ADT
[code]
`Generic[Root]` fails to compile in 2.1.0 and 2.2.0-RC4.

It would be nice to have
`Generic[Root]{type Repr = A1 :+: B1 :+: AB :+: CNil}`
as a result

[2015-04-24 15:07] philwills opened #371 "Unable to derive type class for Scrooge generated product class"
[Scrooge](https://github.com/twitter/scrooge) generates classes representing thrift structs which if you squint hard look a bit like case classes, but are different enough that Shapeless doesn't recognise them as such, so is unable to derive type classes.

I created an example repo (https://github.com/philwills/scrooge-shapeless-example) which if you fire up the console and run the following shows

[2015-04-24 16:30] milessabin commented on #367
I've tracked this down to a macro implementation class loading issue which affects the Scala 2.10.x REPL and was fixed in 2.11.x here: https://github.com/scala/scala/commit/48cc8b47fcadaa187026ca0422178c9094e4b412.

I might be able to come up with a workaround, but it'll be extremely grubby and I only want to go down that route if this is actually a showstopper for you.

Parking until I get your i

[2015-04-24 17:00] tpolecat commented on #367
My thinking is that I could easily tweak my build to have distinct `Composite`, sql interpolator, and shapeless versions for 2.10 and 2.11. So I think we can push this problem off for now.

**Thank you** for looking into this.

[2015-04-25 05:09] milessabin commented on #369
Could you try with the elements of the enumeration declared as objects? ie.,
[code]
I'm surprised that it works for two elements.

[2015-04-25 05:15] milessabin commented on #369
Actually, could you open a feature request against shapeless to add `Generic` support for things like,

[code]
I can't make any promises, but if it's possible it looks like it would be useful.

[2015-04-26 08:52] milessabin commented on #367
Fixed in https://github.com/milessabin/shapeless/commit/7ce16d7b4b852b2c7f065ec1accf66fb5a140d75.

[2015-04-26 08:52] #367 closed

[2015-04-26 16:14] #370 closed

[2015-04-26 16:29] milessabin opened #374 "Macro generated classes should be prefixed "anon$" to get on with value classes"
See discussion with @retronym [here](https://gitter.im/scala/scala?at=553439218c86646906dd773d). Probably too risky to do for 2.2.0 from a binary compatibility point of view.

This is a fairly simple thing for someone who wants to start digging in to macros to take a look at.

[2015-04-28 09:22] Tzbob opened #376 "Witness suport for all singleton types in Scala"
At the moment the following scenarios should work:

[code]

While stable identifiers that are a subclass of AnyRef do not when they could:

[code]

[2015-04-28 10:23] clayrat commented on #369
It seems to work when you declare enum vals as objects.

Sorry, I don't think I have the rights to add labels to issues.

[2015-04-28 22:36] milessabin commented on #376
Thanks for you help in tracking this one down :-)

Fixed for 2.11.x in https://github.com/milessabin/shapeless/commit/93fe82e550414bd8470915a79936b05da6ab0e00.

The fix for 2.10.x in https://github.com/milessabin/shapeless/commit/1552f983a1aac0f81e85733910ae024771d2125f is only partial due to what appears to be a bug in 2.10.x relating to local class definitions ... given that a manually written i

[2015-04-28 22:36] #376 closed

[2015-04-28 22:52] milessabin commented on #368
I've just tested the gist you posted and this now appears to compile and run, most likely as a result of the fix for #370, given your comment in the update above.

Could you give this a try once build [#822](https://travis-ci.org/milessabin/shapeless/builds/60454910) has sorted itself out and let me know how you get on.

[2015-04-29 08:00] fommil commented on #368
you told me told to send a PR :-P

(luckily I created a branch just incase you changed your mind ;-))

[2015-04-29 08:01] fommil commented on #368
actually, I'll add some assertions before sending this as a PR.

[2015-04-29 15:11] milessabin commented on #368
Well, I meant that a PR wasn't the right way to report a bug, but now it's not a bug a PR is just fine :-D

So, can I infer from that that you're happy that this issue can be closed as fixed?

[2015-04-29 17:46] fommil commented on #368
I've not had a chance to run it yet, but fit works for you then sure close :-)

[2015-04-29 17:46] #368 closed

[2015-05-01 11:58] fommil commented on #256
Doesn't `Typeable[T].describe` do this now in 2.2? If you agree, I'm happy for you to close.

[2015-05-01 11:59] fommil commented on #256
oh but that's the type, not the instance name.

[2015-05-04 11:21] Tzbob commented on #376
Thank you for solving it :+1:

I'm comparing my own fix to this one and I'm noticing that there isn't an explicit check that the stable identifiers are subtypes of AnyRef:

[code]

This compiles just fine but I have no idea what ```XT``` is supposed to be here. ```x.type``` is an invalid expression since ```x``` is not subclassing ```AnyRef``` so I'm not sure if this behavior is intended?

If it i

[2015-05-04 11:43] milessabin commented on #376
Good catch. Would you mind opening a ticket for this. I don't think it's a showstopper for 2.2.0 though, so I'll schedule it for 2.3.0.

[2015-05-04 11:51] Tzbob opened #379 "Singleton Types for Value Classes"
[code]

This compiles just fine but I have no idea what ```XT``` is supposed to be here. ```x.type``` is an invalid expression since ```x``` is not subclassing ```AnyRef``` so I'm not sure if this behavior is intended?

If it is then Shapeless Witness macros add support for singleton types on value classes by treating them as reference types which may lead to un{expected, documented} behavior? An

[2015-05-04 11:51] Tzbob commented on #376
Done: https://github.com/milessabin/shapeless/issues/379

[2015-05-05 09:34] fommil opened #380 "cachedImplicit "in the same compilation unit""
when I try to use `cachedImplicit` I am getting this error

[code]

e.g. in this file

https://github.com/fommil/ensime-server/blob/jerk/spray-json-shapeless/src/test/scala/org/ensime/json/FamilyFormatsSpec.scala#L69

I've tried it in a few different places and get the same error each time. Is there some rule I must obey?

[2015-05-05 09:50] milessabin commented on #380
By a spooky coincidence I'm also experience this just now ... currently investigating ...

[2015-05-05 09:50] fommil commented on #380
another thing confuses me about this: if I create a `cachedImplicit` for a `LabelledGeneric[T]` will that be used by methods that need a `LabelledGeneric.Aux[T, H]`?

[2015-05-05 12:45] milessabin commented on #380
You'd need to cache an instance with the the full type of the `Generic`, including its refinement (ie. the `type Repr = ...` which is captured by `Generic.Aux[T, R]` but discarded by `Generic[T]`.

That makes `cachedImplicit` quite hard to use here. I think instead you'll have to do something like this,
[code]
Unfortunately I don't think there's anything I can do here to improve on this. The probl

[2015-05-05 15:29] milessabin commented on #380
Fixed in 619664b1cd6d0ced18aba2a55985c7318968a993.

[2015-05-05 15:29] #380 closed

[2015-05-05 17:45] InTheNow commented on #72
@fommil The type provider link you gave refers to loading in a subset of a pre-defined owl ontology. Would this be what you had in mind?

I mention this as adding proper OWL support to banana-rdf is an ongoing project . eg see https://github.com/w3c/banana-rdf/issues/232 and https://github.com/w3c/banana-rdf/pull/229.

But before going into too much detail, I wonder if you have some pseudo code of

[2015-05-06 08:41] fommil commented on #380
in the above example, where do I used `cachedImplicit`?

[2015-05-06 08:48] fommil commented on #380
btw, this is a fuller example of how I'm using this and the thing that I believe is blowing up the presentation compiler https://github.com/ensime/ensime-server/issues/954

[code]

[2015-05-06 08:51] fommil commented on #380
btw, the SNAPSHOT `cachedImplicit` works fine in the spray-json-shapeless code that was failing yesterday (although I'm still not sure if I need it there).

[2015-05-06 08:59] milessabin commented on #380
@fommil the example was an alternative to using `cachedImplicit` in cases where you need to cache an implicit with a refinement (ie. `{ type Repr = ... }` which it would be object-defeating to have to write explicitly as a type annotation on the LHS.

[2015-05-06 08:59] fommil commented on #380
ok. I'm currently refactoring this particular example so that I can cache an implicit `NameHelper` instead.

[2015-05-06 09:00] milessabin commented on #380
Does that `StringEnum` that you just posted kill the presentation compiler exactly as written?

[2015-05-06 09:01] fommil commented on #380
I've not got a minimal failing case yet, but the problems started to happen around the time when I started using this `NameHelper` to list the implementation names. Seems fine to use with the normal compiler.

[2015-05-06 09:01] milessabin commented on #380
So I'm not clear ... is that code problematic or not?

[2015-05-06 09:02] fommil commented on #380
yes, problematic code (I'm 99% sure... it's a bloody nightmare formalising an infinite loop in the presentation compiler).

[2015-05-06 09:02] milessabin commented on #380
That exact example?

[2015-05-06 09:05] fommil commented on #380
gimme 10 minutes and I'll confirm. It's not **exactly** the above (the actual `StringEnum` has about 15 impls in my real code)

[2015-05-06 09:16] fommil commented on #380
I can't reproduce the problem just yet. Getting the presentation compiler into a bad state is apparently very difficult when I want to do it, yet inevitable when I just want it to tell me the damn type at point. :smile:

I'll open a new ticket if I can reproduce reliably (which will most likely be as an ENSIME integration test).

[2015-05-06 09:21] milessabin commented on #380
Awesome ... thanks :-)

[2015-05-06 15:55] milessabin commented on #343
Fixed in 57b1e0071c7ea7403cbfc19f4e1d9946e324853e.

[2015-05-06 15:55] #343 closed

[2015-05-07 02:44] sgrif commented on #345
It looks like removing the explicit type parameter causes additional issues. I'm periodically finding that I get an error looking something along the lines of `symbol value inst$macro$48 does not exist in MyClass$$anonfun$3.apply` -- it's resolved by adding an explicit type parameter here, but that brings back the null pointer issue.

[2015-05-07 08:22] milessabin commented on #345
Could you try bumping your shapeless dependency to 2.2.0-RC6 and using the new `cachedImplicit` infrastructure,

[code]

[2015-05-08 01:18] sgrif commented on #345
I just receive `not found: value cachedImplicit`

[2015-05-08 08:07] milessabin commented on #345
Did you update your shapeless dependency to 2.2.0-RC6?

[2015-05-08 13:00] sgrif commented on #345
Yes

On Fri, May 8, 2015, 2:07 AM Miles Sabin <notifications@github.com> wrote:

[2015-05-08 13:45] milessabin commented on #345
`cachedImplicit` is part of that release ... have you imported it?

[2015-05-08 14:11] sgrif commented on #345
Looks like I needed to add some additional imports. I get the null pointer exception again using the `cachedImplicit`

[2015-05-08 17:36] InTheNow commented on #353
From gitter:

[code]

Although I've self assigned this on [waffle](https://waffle.io/milessabin/shapeless/cards/552a7788ad9f4c03000a2b24), it would perhaps make more sense if @japgolly could drive this as he has done this previously?

From my viewpoint, my initial thoughts are  something along the lines of:

- @japgolly Get the js branches synced with the jvm ones, still on sjs 0.6 .2.
- @InTheNow

[2015-05-09 13:34] fommil opened #381 "performance problems in coproduct derivations"
as demonstrated in
https://github.com/fommil/shapeless/commit/2ea5adfbe315b79fa082019013935faff7fb035a

i.e. adding
[code]

to `sexp.scala` we are getting **very** slow compilation times. Looks quadratic with a big constant factor.

@rorygraves you would be interested in the compiler CPU profile. It seems to be spending all its time recalculating hashcodes. Grab my branch of shapeless and type `ex

[2015-05-09 21:24] fommil commented on #381
FYI, I've been unable to come up with a satisfactory workaround for this. If the compile time gets too high, the only thing that can be done is to fall back to manually written marshallers :sob:

[2015-05-10 08:26] milessabin commented on #381
I don't have time to look into it today, but one option it might be worth investigating is getting rid of the string singleton types as early as possible. In `deriveInstance` you could try mapping the representation type (`G`) from the form,

[code]
to,
[code]
and similarly for coproducts. That will eliminate all the singleton typed strings previously embedded in `FieldType` and I think is probabl

[2015-05-11 15:59] fommil commented on #381
I'm tracking this to https://github.com/typelevel/scala/blob/2.11.x/src/reflect/scala/reflect/internal/Types.scala#L1058

which means that the compiler must be creating an excessive number of `UniqueType` instances.

[2015-05-11 16:16] fommil commented on #381
also MethodInvoke on SingletonTypeMacros is extremely slow

[2015-05-11 16:23] fommil commented on #381
this is crazy, it looks like `Object.hashCode` is really slow. I wonder why that would be. I thought it was basically free.

[2015-05-11 16:47] rorygraves commented on #381
Nothing is free if you call it enough times.

Sent from my iPhone

[2015-05-11 16:56] fommil commented on #381
could be a ghost, some people report seeing similar high CPU on `Object.hashCode` in java land saying that it seems false http://stackoverflow.com/questions/3124676

[2015-05-12 13:36] alexarchambault opened #382 "Reversing a coproduct twice not returning the original coproduct"
if some types are repeated in the coproduct:

[code]

[2015-05-12 15:19] alexknvl commented on #382
It is easier to see if you temporarily disable `toString()` in `Inl` and `Inr`:
[code]

[2015-05-13 12:03] fommil commented on #381
@milessabin (this isn't exactly 100% typesafe, I need a few more restrictions) but I've pushed a change that uses `String` instead of `FieldType`. But I have no idea how to turn the `LabelledGeneric` into this representation, i.e. change `deriveInstance`. Any ideas? https://github.com/fommil/shapeless/commit/a848f7a13d8d9d1b0f8b57a913561cd3f16e95ca

[2015-05-14 00:34] japgolly commented on #353
@benhutchison Hey mate, are you able to do this? I'm flooded with work and sickness at the moment.

Also I'd recommend keeping Scala.JS on 0.6.2 as 0.6.3's IR isn't backwards-compatible (where as 0.6.2 will work with any 0.6.x).

[2015-05-14 00:52] benhutchison commented on #353
So happens I have a day off work tomorrow, so I'll have a go. First time,
so may proceed slowly, double check a few things etc.

On Thu, May 14, 2015 at 10:34 AM, David Barri <notifications@github.com>
wrote:

[2015-05-14 13:02] InTheNow commented on #353
Thanks for feedback :) It would be a shame if we could not move to 0.6.3 as it has some important changes. Is there no way we could get a 0.6.3 release?

[2015-05-14 17:16] fommil commented on #381
@milessabin I managed to catch @alexarchambault on gitter and he helpfully recommended using `ops.record.Fields` and `ops.union.Fields` to get the `(String, V) ::/:+: Rest` representations. The only problem is that we can't work out how to pass the actual value of the `String` down the chain... we can't use the `Witness` for the `K` anymore. Any further ideas?

[2015-05-15 00:06] benhutchison commented on #353
Re the 0.6.2 v 0.6.3 question:

- IIUC, a shapeless release built on 0.6.2 would still be compatible & useable in projects using 0.6.3

- From a scan of the changes & fixes here [http://www.scala-js.org/news/2015/05/12/announcing-scalajs-0.6.3/], I coudln't see anything obvious that would affect a shapeless library build.

- OTOH, I'd prefer to releases against the latest published version of Scal

[2015-05-15 01:08] benhutchison commented on #353
@InTheNow Both SJS branches have been freshened from corresponding JVM branches, item 1 in your earlier list. PR 386/7. I believe the next step rests with you?

[2015-05-15 12:46] InTheNow commented on #353
Yep, I'm now the critical path :) Apologies for delay, had internet blackout since Wed, only on mobile.

[2015-05-16 13:13] InTheNow commented on #353
It's in the release notes on  [the announcement](http://www.scala-js.org/news/2015/05/12/announcing-scalajs-0.6.3/) . I'm also asking on the gitter

[2015-05-16 13:32] sjrd commented on #353
Scala.js 0.6.3 contains an obscure compiler fix that was prompted by Shapeless' examples: https://github.com/scala-js/scala-js/issues/1581

If you build Shapeless with 0.6.3, the binaries won't be usable with Scala.js 0.6.{0-2}. On the other hand, upgrading minor versions of Scala.js is supposed to always work trivially, without any source change or build definition change, besides changing the ve

[2015-05-16 13:36] InTheNow commented on #353
my paralled comment on gitter - "actually... I've found that we need 0.6.3 because of scala-js/scala-js#1581"

I suggest we go with 0.6.3

[2015-05-16 14:47] antonkulaga commented on #353
ScalaJS community is very fast in terms of updating, so I suggest to release against the latest SJS version avliable

[2015-05-16 15:45] InTheNow commented on #353
Ok - we are now on the penultimate stage above, applying tests to a new branch. I will not have enough time to complete this tonight, but it will be done tomorrow

[2015-05-17 19:15] #347 closed

[2015-05-17 20:14] InTheNow commented on #353
Ok - I have tested all plus the new changes on 0.6.3 so LGTM

[2015-05-20 08:52] notxcain opened #390 "`cachedImplicit` fails for `LabelledGeneric` when used inside companion object"
Here is the code
[code]

[2015-05-20 12:13] milessabin commented on #390
I think that part of the problem here is that the type annotations are actually incorrect: in both cases they're explicitly discarding the refinement, ie. `type Repr = ...` which is essential for these values to be usable.

There's no straightforward way of adding the refinement to the annotation, so I think that for now at least the unannotated, hence inferred, form will have to do,

[code]

[2015-05-20 12:14] milessabin commented on #390
I'm going leave this open for further investigation, but given that there is a workaround I'll put this until the next release.

[2015-05-20 12:56] notxcain commented on #390
Ok, thanks for the workaround!

[2015-05-21 13:26] alexarchambault opened #391 "Implicit derivation failing when using cached implicits + orphan derivation at the same time"
See the last two commits here: https://github.com/alexarchambault/argonaut-shapeless/commits/test/orphans and here: https://github.com/alexarchambault/scalacheck-shapeless/commits/test/orphans.

Cached implicits were enabled. The first of the two commits enables orphan derivation by default, which breaks implicit derivation. The last of the two commits disables cached implicits, which makes things

[2015-05-21 14:15] milessabin commented on #391
It'd be really helpful if you could find some time to post a minimization. I'll punt this until the next release for now.

[2015-05-22 03:18] benhutchison commented on #353
Hi @milessabin I pinged you a couple of times on the gitter channel about the SJS release but didn't get a response? Not sure if my meaning was unclear...

So, to restate: I think the release of Shapeless/JS is near ready for publish. The SJS artifact version needs to be set, I think to `2.2.0-RC6`? I can do that if you could confirm that version.

@InTheNow @japgolly Call out if you see anything

[2015-05-29 10:18] #382 closed

[2015-05-29 12:24] milessabin opened #396 "Command line args to release script for non-interactive use"

[2015-05-29 12:28] milessabin opened #397 "Dry run mode for release script"
Some mechanism for displaying the operations which would be performed without actually performing them ... similar to the `--dry-run` switches you see in many unix command line tools.

[2015-05-29 12:33] milessabin opened #398 "Release script needs a mechanism to recover after failure"
With four branches, each of which is verified by doing a full clean build and test, the release process can take quite a long time and it's tedious to have to repeat from the beginning. I've added an option to skip the initial verification step, however it would still be nice to be able to resume after a transient error.

[2015-05-29 12:38] milessabin opened #399 "Release script could check with Travis for build status instead of running locally"
The local clean full build and test step is very time consuming with four branches. It might be better to rely on the Travis build status for verification instead. This would involve checking that the local repository   we're about to release from corresponds to the repository that Travis a current build status for for all the relevant branches.

[2015-05-29 13:33] InTheNow commented on #353
Main release done

[2015-05-29 13:33] #353 closed

[2015-06-03 23:42] alexarchambault commented on #391
I finally set up a minimal example here: https://github.com/alexarchambault/shapeless-cached-implicits-vs-orphan-derivation

It seems that implicit derivation through `the` fails with orphan derivers. (And `cachedImplicit` is using `the` internally)

[2015-06-04 07:54] milessabin commented on #391
Thanks for that ...

[2015-06-07 10:34] milessabin opened #404 "Release script should support cross builds where relevant"
Scala 2.12.0-M1 is supported via a cross build on the master branch. This should be supported in `verifyBranch` and `release`.

[2015-06-07 10:43] milessabin opened #405 "Release script roll back local repository on failure"
If the release script fails part way through for some reason the release process can be unwound and restarted by doing a hard reset on each of the branches to the commit just before any of the release changes.

Currently this has to be done by hand however, and it would be helpful to automate the process, perhaps by recording the commit hashes of all release branches at the start of the process an

[2015-06-08 17:31] alexarchambault opened #406 "Compile time compatibility issue with spray 1.3"
Raised by @ngbinh on gitter, can be reproduced with:
[code]
Output like https://gist.github.com/alexarchambault/32c704e52eb7884a71c2, with in particular:
[code]

[2015-06-09 15:12] l15k4 opened #408 "HList#updateWith is leaking"
Hey,

in `shapeless 2.1.0`, `scala 2.11.6`, `OpenJDK 1.7` if I use :
[code]
in my application, it dies on `OutOfMemoryError: GC overhead limit exceeded` no matter how much `-Xmx` I set... I'm updating HLists very frequently

However if I change it to :
[code]

It is alright and it needs just -Xmx128m... There must be some sort of hidden reference from the new HList to the old one so that the old o

[2015-06-11 12:01] retronym commented on #381
I inspected the macro expansion for quadratic patterns in generated code and found a few.

Based on that, here's an improvement to the performance:

https://github.com/milessabin/shapeless/compare/master...retronym:topic/coproduct-speed

Please feel free to adapt that into a fix. I haven't submitted it as a PR because I'm not sure how you'd like things arranged.

I think there is still a problem w

[2015-06-11 12:34] fommil commented on #381
awesome! It is indeed faster, but I'm getting a runtime error in the `sexp.scala` for the simpler examples, so this changes the functional behaviour somehow.

[2015-06-11 12:35] fommil commented on #381
both the "wibble" example and the "less trivial example" are failing with classcast exceptions.

[2015-06-11 12:39] retronym commented on #381
Yep, I just noticed it doesn't pass tests yet.

[2015-06-11 12:49] retronym commented on #381
Okay, I had an off-by-one error in `unsafeMakeCoproduct`. Just pushed a fix.

[2015-06-11 12:58] rorygraves commented on #381
cool stuff!

[2015-06-11 14:57] fommil commented on #381
wow! thank you thank you thank you!

Please cherry pick my commit #2ea5adf so that we have a permanent test for this regression and then lets gang up on @milessabin to release this

[2015-06-11 14:57] fommil commented on #381
btw, takes 10 seconds now on my machine... down from killing the compiler process after 20 minutes of eating all my CPU cycles and getting nowhere.

[2015-06-12 08:25] milessabin commented on #408
It looks like you must be closing over something large which is getting captured in the resulting `HList` somehow. That's very dependent on the surrounding context though ... are you able to reproduce this with a small standalone example that I could look at locally?

[2015-06-12 08:27] milessabin commented on #381
What! Seriously! Awesome! Thanks @retronym!

[2015-06-12 08:31] milessabin commented on #381
@fommil can you turn this and your test into a PR that I can merge?

[2015-06-12 08:39] milessabin commented on #195
Closing this now ... it's been superseded by the release script and direct inclusion of MiMa in #407. My apologies to @andrelfpinto :-(

[2015-06-12 08:39] #195 closed

[2015-06-12 08:49] rorygraves commented on #381
The trick is apparently to accuse the scala compiler of being slow in your talk then @retronym fixes it.
Got to remember that trick ;)

[2015-06-12 08:52] milessabin commented on #381
:-D

[2015-06-12 08:54] #406 closed

[2015-06-12 08:56] l15k4 commented on #408
I'll try to reproduce it in the evening... so far it seems that it happens only with big immutable hash maps with a few thousands of entries, although the values are just Strings mostly and other primitives. Seems like the problem is conditioned by presence of `rec ++ (extSource - extMergeKey)` which is really just `immutable.Map ++ (immutable.Map - entry)`  but the amount of data flowing is max 5

[2015-06-12 08:56] rorygraves commented on #381
now I just need to wrap up the String one I mentioned into a script that I can blame on the compiler so @retronym  can fix it and I can take the rest of the year off :wink:

[2015-06-12 09:03] milessabin commented on #408
My gut feeling is that this isn't specifically an issue with shapeless ... I think you would probably see a similar leak doing the equivalent with a vanilla list. If that's not the case then I definitely want to know about it. Thanks for investigating :-)

[2015-06-12 09:19] fommil commented on #381
I can do that, unless @retronym does it first

[2015-06-12 09:42] fommil commented on #42
I'm seeing this with `publishLocal` --- the jar goes to `bundles` instead of `jars`. And it's not transparent to me when I attempt to depend on the SNAPSHOT I just published from another project.

Workaround is to remove the OSGI plugin and its settings when doing a `publishLocal`.

Seems like an upstream bug to me.

[2015-06-12 13:57] mpilquist commented on #42
I'm fairly sure this behavior is intentional. The JAR location in a local ivy repository is transparent if you are using Ivy to do the resolution.

[2015-06-12 14:02] fommil commented on #42
it's looking at a specific location in the `jars` directory and not seeing it. Try it yourself with the `ensime-server` project... bump shapeless to 2.2.2-SNAPSHOT.

[2015-06-12 14:06] mpilquist commented on #42
Just tried in a standalone project and it appears to work fine:

[code]
Here's the output
[code]

[2015-06-12 14:19] fommil commented on #42
try it with `ensime-server`

[2015-06-12 14:41] #381 closed

[2015-06-14 10:53] milessabin opened #411 "Set up code coverage"
As per https://github.com/non/cats/commit/fa5182cff105157de0d16920f314916f24cd70db.

[2015-06-15 07:34] milessabin opened #412 "Add support for timestamped snapshot builds"
Opinions differ on the merits of rolling (ie. untimestamped) vs. timestamped snapshot builds. @InTheNow has recently added support for both [to](https://github.com/non/cats/issues/317) [Cats](https://github.com/non/cats/pull/343) and it'd be nice to have the same functionality here.

[2015-06-15 14:02] milessabin commented on #404
Fixed in https://github.com/milessabin/shapeless/commit/fd4b53f0ac1441c03d4a8dc6e83a6a208dfc10e9.

[2015-06-15 14:02] #404 closed

[2015-06-15 14:06] milessabin commented on #379
Would you mind taking a look to see if this is still an issue for shapeless-2.2.2?

[2015-06-16 07:18] Tzbob commented on #379
On master (2.2.3) it's still odd that the following compiles:

[code]
Since it's invalid Scala to reference the singleton type of a Value class:

[code]

I think it's best not to allow Value classes in Witness at all, right? That's what I meant in the original post, this behavior might confuse people unless it's explicitly stated somewhere.

[2015-06-16 07:29] milessabin commented on #379
Agreed. It's just that there were some changes in the `Witness` materializer and it was at least conceivable that this might have come out in the wash.

Thanks for the update :-)

[2015-06-16 13:19] retronym commented on #50
I'm afraid that constant type stringification isn't the true pathology here. It's easy enough to speed it up (https://github.com/scala/scala/compare/2.11.x...retronym:ticket/perf-constant-type-string), but it doesn't make an appreciable different to this benchmark.

Similarly, avoiding more needless anonymous subsclass of `SingletonOps` (https://github.com/milessabin/shapeless/compare/master...ret

[2015-06-16 13:49] milessabin commented on #50
Thanks for the analysis @retronym. I'll pursue something along these lines in shapeless 3.0.

[2015-06-16 22:51] travisbrown opened #413 "Consider type classes for smashing hlists and coproducts"
First for some motivation: in the [Finch](https://github.com/finagle/finch) project we're using Shapeless in a couple of places, including a `Router[A]` type that may match a path and return an `A`. We provide an `:+:` method that allows the user to compose routers of different types. This makes combining endpoints into something we can serve a lot cleaner, since we don't have to take every router

[2015-06-17 10:22] milessabin commented on #413
Yes, something like this would be useful to have.

It'd be nice to have as much symmetry between the product and coproduct cases as possible here ... in shapeless 3.0 they'll become the same, and it makes sense to anticipate that now. For instance, the value level function makes sense for both products and coproducts if you think of the argument as being a pair (product) vs. an `Either` (coproduct

[2015-06-17 11:19] milessabin commented on #405
In discussion with @InTheNow it seems that a better approach it to locally clone the local repository and release from there: if the release has to be aborted the entire local clone can be discarded. Being a local clone this is more or less instantaneous.

[2015-06-17 13:00] #391 closed

[2015-06-17 13:00] #405 closed

[2015-06-17 13:04] milessabin commented on #391
This doesn't solve the problem for `the` in general, but it does solve the problem for `cachedImplicit` by replacing `the` with `implicitly` in its expansion.

[2015-06-20 15:50] reid-spencer opened #415 "Coproduct selection is sketchy?"
I am trying to use shapeless for some validation and about to abandon it because I can't prove that it works in my test cases. Essentially, the Coproduct selection mechanism doesn't seem to work on a mapped result. I've tried tracing through this in the debugger but I believe it is simply a shapeless/compiler issue. I'd be very happy to find out that I'm wrong if you can point out the error in my

[2015-06-20 16:14] ceedubs commented on #415
After `val mapped = value.map(validator)`, `mapped` has type `Option[String] :+: Option[String] :+: Option[String] :+: Option[String] :+: Option[String] :+: CNil`. This is because you have mapped each potential supported type into its validation method.

When you do `val selected = mapped.select[Option[String]]`, you are telling Shapeless to grab the first element of type `Option[String]` out of t

[2015-06-20 17:15] reid-spencer commented on #415
@ceedubs - Brilliant! That's exactly what I needed. I guess I thought "select" meant select the populated item, not the first matching item .. silly me.

[2015-06-20 17:15] #415 closed

[2015-06-21 08:24] milessabin commented on #415
BTW, the best place to go with questions along these lines is shapeless [Gitter channel](https://gitter.im/milessabin/shapeless) ... see you there :-)

[2015-06-22 13:41] alexarchambault opened #417 "Failing to derive Generic for nested ADT"
This does not look like the usual `knownDirectSubclasses` issues.

[code]

`build.sbt` like
[code]

`sbt compile` gives
[code]

[2015-06-22 14:09] alexarchambault opened #418 "Generic derivation failing with singleton types"
Like
[code]

Error like
[code]

It would be really nice to be able to automatically derive type classes for these (like a `DecodeJson` validating incoming values, ...)

[2015-06-22 14:11] milessabin commented on #417
Thanks ... that looks like another b0rked dependent prefix ... will try and fix ASAP.

[2015-06-22 14:30] milessabin commented on #418
Good catch! Thanks for that :-)

[2015-06-22 14:34] alexarchambault commented on #418
...and I would expect an automatic CC / ADT generator to catch these for me :-)

[2015-06-22 14:40] milessabin commented on #418
Yes, indeed, that would be very useful.

[2015-06-22 23:03] l15k4 commented on #408
Your gut feeling was right :-) I was getting a little paranoid because it was really tough to find this one. Thanks !

[2015-06-22 23:03] #408 closed

[2015-06-23 08:54] milessabin commented on #408
Thanks for the update.

[2015-06-23 09:56] milessabin commented on #413
Fixed in #414.

[2015-06-23 09:56] #413 closed

[2015-06-23 09:58] milessabin commented on #398
Given the experience of the last couple of releases, I don't think this is necessary. The most time consuming part of a release is the multi-branch full compile/test cycle, and that is handled once and for all by Travis. And rollback aspect is no longer relevant given the model of releasing from a fresh clone.

[2015-06-23 09:58] #398 closed

[2015-06-23 10:00] milessabin opened #419 "Add Maven button to README"
As seen [here](https://github.com/finagle/finch).

[2015-06-23 10:14] milessabin commented on #371
Just looking at this again ... are you able to summon a `Generic` instance for `Product.Immutable`?

[2015-06-23 10:15] milessabin commented on #358
Wasn't this one fixed a while back?

[2015-06-23 10:16] milessabin commented on #355
Wasn't this one fixed a while back?

[2015-06-23 10:17] milessabin commented on #352
Wasn't this one fixed a while back?

[2015-06-23 10:18] milessabin commented on #345
Ping ...

[2015-06-23 12:10] milessabin opened #420 "Poor compile time performance of shapeless.ops.record.{ Selector, Updater }"
Compile time scales super-linearly with number of case class members. This seems to account for most of the poor compile time performance of shapeless lens builders.

[code]

[2015-06-23 13:53] #379 closed

[2015-06-24 09:36] jeantil opened #421 "Declaring a val in one of the objects breaks the adt+shapeless enum example"
in 2.2.3 and master
changing `WeekDay`in https://github.com/milessabin/shapeless/blob/master/examples/src/main/scala/shapeless/examples/enum.scala to have a val declared in one of the objects leads to a compilation error
[code]
the error I get is :
[code]

both commenting the val or using case objects instead of objects will make the compilation error go away ...

[2015-06-25 17:00] philwills commented on #371
[code]
fails to summon anything.

Incidentally, I did have a stab at trying to address this by broadening the `isCaseClassLike` check, but then ran into issues in `mkProductCases` that were sufficiently deep in the AST that I decided to retreat.

[2015-06-25 20:14] milessabin commented on #371
I'm poking around in that area at the moment ... I'll see what I can come up with.

[2015-06-27 19:14] fommil opened #422 "everywhere does not work on sealed families that have a `Symbol` field anywhere"
Reproduction:

Add this line to `sybclass.scala`

[code]

see this failure

[code]

This is blocking https://github.com/ensime/ensime-server/issues/1006 :cry:

[2015-06-27 21:21] milessabin commented on #422
No time to look at this properly right now, but I think a quick workaround would be to define a `Data` or `DataT` instance for `Symbol`.

[2015-06-28 11:38] ceedubs commented on #136
@milessabin I think this can be closed due to #204.

[2015-06-28 18:05] milessabin commented on #136
I think I left this open because there were a few more. But I've had a complete change of heart, and I now think that all the `<: HList` and `<: Coproduct` bounds are verbose and overly constraining ... come shapeless 3.0 they'll all go.

So I'm happy to close this ticket ...

[2015-06-28 18:05] #136 closed

[2015-06-29 09:30] fommil commented on #422
One of these? I have no idea how to begin.

[code]

[2015-06-29 10:09] milessabin commented on #422
If I had this (in the same scope as `case class Magician`) it compiles,

[code]

[2015-06-29 12:24] fommil commented on #422
excellent, that seems to fix it for my actual use case as well.

[2015-06-29 12:49] milessabin commented on #422
Cool ... this is a bug though, and that instance is just a workaround for it, so watch this space.

[2015-06-29 16:45] pchlupacek commented on #50
@milessabin any chance this can get addresses for 2.2.x? Any more complex patterns are making compile times to explode :-(

[2015-06-30 06:39] milessabin commented on #50
@pchlupacek are you able to test @retronym's suggested `indexOf` in your specific context?

[2015-06-30 08:29] #369 closed

[2015-06-30 08:44] #417 closed

[2015-06-30 08:45] #418 closed

[2015-06-30 08:45] pchlupacek commented on #50
@milessabin will do (need to understand it first). In fact I think there is something really weird going on. I have feelings that compilation times gets longer and longer for the same code within sbt. At least I can prove that fresh sbt build takes much less (~1/3) of compilation time after using the sbt for the while.

[2015-06-30 08:45] #421 closed

[2015-06-30 08:48] jeantil commented on #421
thanks !

[2015-06-30 09:09] milessabin commented on #50
If you're able to pull out something representative which shows non-linear scaling of compile times along the lines of the example here or in #381 or #420 that would be incredibly helpful.

[2015-06-30 10:58] milessabin commented on #422
Minimized to,

[code]

[2015-06-30 11:02] fommil commented on #422
interesting, this might be related to my spray-json-shapeless problems. There it seemed that shapeless was too eager to generate `LabelledGeneric`s for `Symbol` and I had to override with the built-in spray-json `JsonFormat[Symbol]`.

[2015-06-30 11:13] milessabin commented on #422
I think that's most likely the "derived orphans trump explicit instances" problem that I've promised to fix for you. So probably not related.

[2015-06-30 12:53] milessabin commented on #422
It turns out this isn't `Symbol` specific ... it's reproducible with any case class like type with an `unapply`, eg.,

[code]
The bug is due to the `Generic` for the type, which generates a pattern match using the extractor, being passed though `Lazy` which internally results in the `Generic` instance being untypechecked and retypechecked and then falling foul of [SI-5465](https://issues.scala-lan

[2015-06-30 13:14] #422 closed

[2015-06-30 13:27] milessabin commented on #419
Fixed in 6cd5d82fb0771718f6b3e0325c223f803f406e11.

[2015-06-30 13:27] #419 closed

[2015-06-30 15:29] JurajBurian opened #423 "enum value should be serializable and should also keep referential integrity"
[code]

[2015-06-30 16:11] milessabin commented on #371
OK, I think this can be done.

It really requires a thorough reworking of the criteria that are used for determining that a type is case class like and its alignment with the mechanism for introducing and eliminating values of that type though, and I don't want to do that in a point release.

I'll revisit for 2.3.0.

[2015-06-30 16:12] milessabin commented on #371
Reduced test case,

[code]

Let me know if you think this is missing anything essential from your original ...

[2015-07-04 10:04] milessabin opened #424 "Generic should take access path into consideration when computing subtypes"
First reported [here](https://github.com/ochrons/boopickle/issues/29).

[code]

Similar issues arise where some or all subtypes are inaccessible at the point at which the `Generic` is materialized, although in that case we should refuse to materialize an instance.

[2015-07-06 19:49] #424 closed

[2015-07-09 17:24] milessabin opened #426 "Add instructions for inclusion in a Maven build to README"

[2015-07-15 11:51] alexarchambault opened #432 "Provide wide types of singleton ones"
Opening this issue to keep track of and discuss https://gitter.im/milessabin/shapeless?at=55a2ab1b4962d17932cda3c2.

@milessabin Are you sure you want to add a type member to `Witness`, like
[code]

That would make the current `Witness.Aux` missing `W`, unless it is added to it like
[code]
which would in turn break compatibility with previous versions. (Plus it would just be ignored most of the ti

[2015-07-15 12:01] alexarchambault commented on #432
Another possibility could be to keep the wide type as a type parameter, like
[code]
This would break binary compatibility too.

[2015-07-18 12:02] milessabin opened #433 "Add the sbt-sonatype plugin to the build"
See: https://github.com/xerial/sbt-sonatype

[2015-07-19 21:22] philwills commented on #371
Sorry, I missed this. I think that reduced test case covers everything important.

[2015-07-29 05:53] xuwei-k opened #436 "missing tag for 2.2.5"

[2015-07-29 08:28] milessabin commented on #436
Good catch! Thanks :-)

Just pushed it now ...

[2015-07-29 08:28] #436 closed

[2015-07-30 10:58] milessabin opened #438 "Add variants of Fn{To,From}Product which are parametric in the result type"
See [this gist](https://gist.github.com/milessabin/cab5661217ec47bbddad) for a motivating example.

A result type parametric `Fn{To,From}Product` would allow us to constrain the shape of the arguments to an arbitrary arity function type without having to commit a particular result type. In the example shown we've worked around this by constraining an `HList` argument `L` to a `Function1` and then

[2015-07-31 15:27] gabro opened #439 "Using `the` still outputs a non-refined type"
With reference to [this SO question](http://stackoverflow.com/questions/31747143/how-to-create-typeclass-with-hlist-existential-member/31748667#31748667), I expected using `the` in place of `implicitly` would solve the issue, but it doesn't.

The type member of the type inferred by `the` is `View#Result`, whereas it should be `Int :: Int :: Int :: HNil`.

As shown in the answer, using an implicit

[2015-08-07 15:02] travisbrown commented on #439
The `the` macro won't be able to capture a refinement in a generic context where the refinement isn't statically known, so I think this is the "intended" behavior, in the sense that you can't really expect better.

If you expect a method's return type to include type members from a parameter, I'd suggest always making that explicit (especially if the method itself is implicit):

[code]

I know I h

[2015-08-07 15:21] milessabin commented on #439
Sorry I didn't respond to this earlier. I agree with Travis's analysis here: the refinement isn't propagated from the implicit argument/context bound into the body of the method, hence `the` is only seeing the unrefined type, namely `View[R]`.

As a general rule I would say that the use of an implicit parameter block is idiomatic here. Even though `the` is somewhat better behaved than `implicitly`

[2015-08-07 15:21] #439 closed

[2015-08-07 15:24] gabro commented on #439
It makes sense, thank you both for the answers.

[2015-08-07 15:55] travisbrown commented on #439
Actually the `the` macro _could_ inspect the type for type members and make sure they were included on the static type of the instance it returns, right? It'd be kind of messy, and I still think the type-annotation solution is more appropriate here, but I think it would be possible to write a `the` that would do what you're asking, @gabro.

[2015-08-07 16:39] milessabin commented on #439
Yes, I guess it could.

It's isn't actually the result type annotation which is doing the work here tho' ... the following definition of `View` also works fine,

[code]
It's the direct use of the implicit argument rather than the result type which is doing the work here.

[2015-08-12 09:30] AndreasKostler opened #443 "Extract items/slices from HList/Product/Coproduct"
Akin
[code]

[2015-08-12 15:22] AndreasKostler opened #445 "Support for lifting an argument list of Int literals to an HList of Nat"

[2015-08-27 13:46] #280 closed

[2015-08-27 14:49] dwijnand commented on #280
Nice :)

[2015-08-30 02:50] #50 closed

[2015-08-30 02:53] milessabin commented on #50
Fixed along the lines suggested by @retronym.

[2015-08-30 02:56] milessabin commented on #102
Fixed in d4c3c71933e8c4ab6bc1fcde17e92961f9c0f897.

[2015-08-30 02:56] #102 closed

[2015-08-30 02:57] milessabin commented on #420
Fixed in d4c3c71933e8c4ab6bc1fcde17e92961f9c0f897.

[2015-08-30 02:57] #420 closed

[2015-08-30 07:25] pchlupacek commented on #50
@milessabin excellent thanks. Will test it agains this fix and let you know.

[2015-08-31 15:17] milessabin commented on #371
See also [this scalac issue](https://issues.scala-lang.org/browse/SI-9029).

[2015-09-02 00:07] rhendric opened #453 "Generic instance exists for AnyRef"
`implicitly[shapeless.Generic[AnyRef]]` should fail, doesn't.

This also seems to affect other empty-constructor non-case classes (of which `java.lang.Object` is a special case). If I may editorialize on a fix, I'd propose adding a check to [`CaseClassMacros.isCaseClassLike.checkCtor`](https://github.com/milessabin/shapeless/blob/master/core/src/main/scala/shapeless/generic.scala#L575) requiring `

[2015-09-02 13:38] milessabin commented on #453
I think your proposal is too drastic ... we definitely want to support case classes with empty constructors, case objects, `Unit` etc. The problem isn't so much the absence of contents, it's the availability of subtypes.

[2015-09-02 13:50] rhendric commented on #453
I think actual case classes/objects/Unit would be fine; there's a check for actual case-class-ness on line 586, and a check for Unit in `isProduct`. This would only exclude non-case classes with empty constructors from being considered as empty products—and even those would have a second chance to be coproducts if they do have available subtypes, right?

[2015-09-02 14:43] milessabin commented on #453
I still want to allow non-case classes with empty constructors to support [case classes a la carte](https://github.com/milessabin/shapeless/blob/master/examples/src/main/scala/shapeless/examples/alacarte.scala).

I'm rapidly coming to the conclusion that `AnyRef` really _is_ special. Other empty product types lack `AnyRef`'s near-universal supertype aspect, and I think that's just about enough to

[2015-09-02 15:18] rhendric commented on #453
I agree that `AnyRef` is pretty special, and I don't think special-casing it is an awful idea. But I also think that having Generic support for empty-constructor classes can be a little dangerous.

A class with only an empty constructor is much more likely to have object identity semantics than value equality semantics. Take, as just an example, a custom Exception class that doesn't expose a messa

[2015-09-02 16:09] milessabin commented on #453
Is it things like `CustomException` which are causing you particular trouble here? If it is, then I think we might be able to tighten up the rules to exclude them.

The intuition behind `Generic` is that it provides an isomorphism between a value of the target type and its representation type via a constructor (which creates a value from its parts) and a destructor (which extracts the parts from t

[2015-09-03 05:14] rhendric commented on #453
It's not about private constructors; I was thinking of literally `class CustomException extends Exception("fixed message")`. The information content is the stack trace that `Exception` collects and stuffs in a field. There are other ways for classes to violate the above contract of `Generic`, of course; I wouldn't suggest you try to detect them all.

All I'm saying is that classes that only have a

[2015-09-03 17:26] AndreasKostler opened #454 "Strange(?) behaviour of `Tupler` on `HList` of `HList`"
I am kind of confused about the behaviour of `Tupler` on nested `HList`:
[code]
Whereas I'd expect something like
[code]
Is this the intended behaviour?

[2015-09-03 18:12] ceedubs commented on #454
I don't think your `l` is what you think it is. You are actually putting the `HNil` object into the middle of an `HList`.

I think what you meant to do was something like this:

[code]

The `.tuple` command only goes one layer deep. So if you wanted to also turn each of the two `HList`s into a tuple, you would have to call `.tupled` on them.

[2015-09-03 18:22] milessabin commented on #454
@ceedubs is spot on.

[2015-09-03 18:51] AndreasKostler commented on #454
Right, my oversight. However, is there a reason why `.tupled` only does go one layer deep? Disclaimer - I haven't looked at the implementation, just wondering.

[2015-09-03 19:21] milessabin commented on #454
I think a one layer operation makes sense as a primitive. Would you expect `size` on a `List[List[Int]]` to give you the number of `List[Int]` in the outer list or the total number of `Int`s in the structure?

[2015-09-03 19:27] AndreasKostler commented on #454
No, but on the same token, would you expect `flatten` on nested Lists to
only flatten one level? Incidentally, this is what `List.flatten`
does...Which in my opinion doesn't make sense. This came up during the
implementation of `flatten` for `HList` - hence the opinionated view I
guess.
I am happy for this to be closed - it was just for clarification.

On 3 September 2015 at 21:21, Miles Sabin <no

[2015-09-03 20:18] fthomas commented on #454
@AndreasKostler I wonder how the signature of `List.flatten` would look like if it could flatten nested lists?

[2015-09-03 20:48] AndreasKostler commented on #454
This is modelled after Miles' nice example for Tuples...

[code]

[2015-09-08 07:36] AndreasKostler opened #456 "`UpdateAt` for `HList`, `Tuple` and `Coproduct`"
I have a type-class `UpdateAt` supporting updating of the Nth element of this `HList` by calling `F` on it. Is there interest in folding it into the `shapeless` codebase?
[code]

[2015-09-10 08:57] milessabin commented on #345
I'm going to close this now. Please reopen if you can provide a reproduction.

[2015-09-10 08:57] #345 closed

[2015-09-10 09:04] milessabin commented on #454
The current `Tupler`/`.tupled` are behaving as designed, and I think they should stay that way, so I'm going to close this issue for now.

But a recursive operation would also be useful, and I'd be happy to be on the receiving end of a PR that added one :-)

[2015-09-10 09:04] #454 closed

[2015-09-10 09:38] AndreasKostler commented on #454
;) I'll see what I can do

On 10 September 2015 at 11:04, Miles Sabin <notifications@github.com> wrote:

[2015-09-10 22:53] milessabin commented on #322
OK, closing this for now. Please reopen if you think there's something I've missed.

[2015-09-10 22:53] #322 closed

[2015-09-13 13:30] milessabin commented on #44
Still present in shapeless 2.3.0-SNAPSHOT and with Scala 2.11.7. A fix would most likely involved reverting #20 and that currently breaks records. I'll punt this to 3.0.0.

[2015-09-13 13:37] milessabin commented on #48
I can't reproduce this any longer. I expect that it was fixed as a result of one of the many prefix related fixes in the last few releases :-)

[2015-09-13 13:37] #48 closed

[2015-09-13 13:40] milessabin commented on #162
I can't reproduce this with Scala 2.11.7, so I'm going to attribute it to a now-fixed REPL bug.

[2015-09-13 13:42] milessabin commented on #190
Fixed by @AndreasKostler in #450.

[2015-09-13 13:42] #190 closed

[2015-09-14 12:47] milessabin commented on #374
Fixed in d8c43fbdc8fb559115ede111e3877c89229069ee.

[2015-09-14 12:47] #374 closed

[2015-09-14 13:01] milessabin commented on #145
This probably needs to be rethought as part of the SMC/CPS reworking for shapeless 3.0.0.

[2015-09-14 13:29] alexarchambault commented on #145
I'm currently trying various ways of doing this... Using representations of products and sums as nested `Tuple2` and `Either`s, yes.

[2015-09-15 13:59] milessabin commented on #198
Some bad news, some good news ...

The bad news is that there's nothing that we can do to directly solve this problem in general ... a satisfying solution of the form you want would require forms of dependent typing that go beyond Scala's current capabilities.

The good news is that while looking at this again I've come up with a somewhat more attractive solution for this specific case and suffici

[2015-09-15 13:59] #198 closed

[2015-09-15 14:12] milessabin commented on #154
I've reached the same conclusion here as I did for #198 ... rather than attempting to partially apply we should lift the `Poly` result to a function.

[2015-09-15 14:12] #154 closed

[2015-09-15 16:49] vil1 opened #457 "Add a way to transform any HList into a Monoid of some Coproduct"
Given a `Monoid` instance `F`, it is possible to convert any `HList` into a `F[C]` where `C` would be the smallest coproduct that encompasses all the input `HList` elements' types.

For example the desired function would transform
`1 :: "Foo" :: true :: 42 :: HNil`
into a
`F[Int :+: String :+: Boolean :+: CNil]`
for any given `F`.

See [this gist](https://gist.github.com/vil1/2c45599bc01c05353476)

[2015-09-15 21:32] fommil opened #458 "cachedImplicit presentation compiler hack"
in ENSIME we have a file that takes 2 minutes to compile, and it (paraphrasing) looks like this :

[code]

c.f. https://github.com/ensime/ensime-server/blob/master/jerk/src/main/scala/org/ensime/jerk/JerkFormats.scala#L39

it is the kind of pattern that I'm encouraging people to use with spray-json-shapeless (and sexpress when I get round to writing it properly).

the thing is, when anyone opens t

[2015-09-15 22:10] alexarchambault commented on #145
FYI, the -1 (minus one) version is on [this branch](https://github.com/alexarchambault/shapeless/tree/topic/derive).

Illustrated [here](https://github.com/alexarchambault/shapeless/blob/topic/derive/core/src/main/scala/shapeless/derive.scala#L362-L368), along with [this](https://github.com/alexarchambault/shapeless/blob/topic/derive/core/src/main/scala/shapeless/derive.scala#L373-L374), and used

[2015-09-15 22:20] alexarchambault commented on #145
In particular, I'm trying to have a loose enough implementation, in particular:
- `product` and `sum` methods with optional arguments like `name` (name of the field / constructor), `default` (default value of the field, if any - half done), maybe `someNameAnnotation` that would look for annotation `@someName(value1, value2)`, and supply `Some((value1, value2))` (not done yet),
- all methods accept

[2015-09-15 22:25] alexarchambault commented on #145
Also, note that:
- it's implemented as a `Lazy` extension (those of https://github.com/milessabin/shapeless/pull/435), so it should deal well with `Lazy` / `Strict`, and has to be used through them,
- it uses a shapeless-3 like (?) `Generic`, with representations made of nested `Tuple2` / `Either`, terminated by `Unit` or `Nothing`.

[2015-09-16 08:15] milessabin commented on #145
This is sounding more ambitious than the title (and original intention behind) this ticket ;-)

From your description, this sounds a lot like a reworking of `TypeClass`. My main comment at this point is that when I was attempting to generalize `TypeClass`, before hitting on `Lazy` I also tried to deal with additional possibly implicit arguments. In the end this all dropped out of `Lazy` combined w

[2015-09-16 09:02] alexarchambault commented on #145
Yes, I think that's what I'm about to get :-), an optimized (and generalized too) rework of `TypeClass` in terms of `Lazy` - as a `Lazy` extension. I'd like to quickly benchmark it against hand written macros (through https://github.com/alexarchambault/auto-type-class-benchmark), to assess possible compile time speed ups.

[2015-09-18 06:43] stephanh opened #460 "Support for very large (> 254 fields) scrooge-like classes"
Hey Miles,

As we talked about in Vancouver we have a similar use case to #371. However, we need to support thrift structs with more than 254 fields, which is the maximum number of fields a method on the JVM can have. We have, therefore, developed [Humbug](https://github.com/CommBank/humbug), which implements the same encode/decode methods and metadata as scrooge but uses mutation to set the indiv

[2015-09-18 09:44] milessabin commented on #460
Hi Stephan!

Work on #371 is well under way ... that should be fixed for 2.3.0 (an RC1 should arrive shortly after Scala World next week) ... but it won't address your > 254 fields issue.

Rather than initializing via vars have you considered initializing via using a single `HList` argument? Ie. something along the lines of,

[code]
I appreciate that the above isn't very attractive as it stands, b

[2015-09-18 09:47] milessabin opened #461 "Add typeclass giving access to constructor default arguments"
/cc @travisbrown

[2015-09-18 10:24] alexarchambault commented on #461
I did something similar while benchmarking type class derivation some time ago: https://github.com/alexarchambault/upickle-pprint/blob/topic/shapeless/upickle/shared/src/main/scala/upickle/experimental/Default.scala

Could be backported here.

[2015-09-18 10:33] milessabin commented on #461
Go for it! :-)

[2015-09-18 16:49] #461 closed

[2015-09-21 05:20] stephanh commented on #460
I'm working on some benchmarks. I'll let you know how I go.

[2015-09-22 01:16] stephanh commented on #460
@milessabin I did some preliminary [benchmarks](https://github.com/CommBank/maestro/blob/hlist-benchmark/maestro-benchmark/src/test/scala/au/com/cba/omnia/maestro/benchmark/codec/CodecBenchmark.scala) just on the parsing side.

* I was not able to test a thrift struct with more than 230 fields using HLists. I started getting intermittent stack overflows in the compiler trying to compile the code.

[2015-09-23 09:43] lambdista opened #465 "Instance of Typeable[Array[T]] missing"
I noticed `cast` does not work for `Array[T]`. Is there any good reason for that or I just didn't get it right? That's what I tried:

[code]
I implemented it and these are some tests:

[code]
Let me know if you want me to submit a PR.

[2015-09-26 10:51] milessabin commented on #460
Many thanks for that.

[2015-09-26 11:03] milessabin commented on #465
The thing I would be most concerned about is that a `Typeable` instance must not allow violations of Scala's invariant view of JVM arrays. So please do submit a PR, but I'd like to see a test that the following (and variants) is excluded,

[code]

[2015-09-26 14:33] mpilquist opened #468 "scalac crash when looking up an implicit Lazy[F[A]] where F is a locally defined type"
Consider:
[code]
build.sbt:
[code]

Note that a `LabelledGeneric[Tree[Int]]` can be summoned without issue. Also, `implicitly[Foo[Leaf[Int]]]` works correctly. Moving `Tree`, `Node`, and `Leaf` out of the `x` block resolves the issue.

[2015-09-26 14:40] mpilquist commented on #468
Here's a smaller reproduction case, which shows that the issue is in the `Lazy` macro:

[code]

[2015-09-29 08:15] lambdista commented on #465
Ok, so there was a good reason for this feature to be missing. :)
I'll try to maintain array invariance and submit a PR iff I make it.

[2015-09-29 12:02] milessabin commented on #465
Awesome ... thanks :-)

[2015-09-30 15:15] lambdista commented on #465
[code]

Do you have in mind any test that could, miserably, fail? :)
If so let me know so I try it before submitting a PR, thank you.

[2015-09-30 15:31] milessabin commented on #465
I think that looks promising. Maybe try some permutations of array of arrays, lists of arrays, arrays of lists etc.? As always the aim is to avoid opening up a variance loophole.

[2015-10-06 08:36] lambdista commented on #465
No way. I tried using `ClassTag`, `TypeTag` and the like of reflection but couldn't maintain Scala's invariant view of JVM arrays for *complex* types such as List[Array[Bar]]. However, I'm not a reflection expert so maybe there's a way to do it, but I couldn't find it.

[2015-10-06 11:15] milessabin commented on #465
Many thanks for making the attempt.

[2015-10-09 03:31] cvogt opened #474 "Default type class broken for top-level classes"
@alexarchambault playing around with the Default type class. Great job. Only it doesn't work for top-level classes for me :). If you move `CC` in the test out of DefaultTestDefinitions into the top-level it produces HNil instead of the record.

[2015-10-09 22:54] alexarchambault commented on #474
I used this type class quite a bit, and somehow managed not stumble upon this! Good catch :-)

https://github.com/milessabin/shapeless/pull/475 should fix it.

[2015-10-09 23:38] cvogt commented on #474
Sweet, thx :)!

[2015-10-09 23:38] #474 closed

[2015-10-11 18:39] travisbrown opened #476 "Type classes supporting incomplete decoder derivation"
Last week @mpilquist asked about adding the [`Complement` type class](https://github.com/travisbrown/circe/blob/baca9f6f1d32e40157eb9b2a023218b723f1fde2/generic/shared/src/main/scala/io/circe/generic/util/Complement.scala#L58) from [circe](https://github.com/travisbrown/circe) to Shapeless. I'd love to see this happen (and the idea has @milessabin's stamp of approval), but I have a couple of quest

[2015-10-15 10:56] milessabin commented on #476
`ops.record.Remove(All)` works for me ... PR most welcome :-)

[2015-10-21 18:23] tpolecat opened #479 "Generic unavailable for method-local case class with > 22 members"
(shapeless 2.2.2)

If you define a **method-local** case class, `Generic` is available only if it has 22 elements or fewer. Here's a simple failing example. Works fine if you delete a field.

[code]

I should add that I'm not blocked on this ... I discovered it by accident when trying to write a compilation test that defined a class locally.

[2015-10-22 07:02] milessabin commented on #479
There have been a ton of bugs fixed in that area since 2.2.2 ... can you reproduce that with 2.2.5 or 2.3.0-SNAPSHOT?

[2015-10-22 18:01] tpolecat commented on #479
Yes, same behavior in 2.2.5 and 2.3.0-SNAPSHOT.

[2015-10-23 08:24] #432 closed

[2015-10-23 15:00] JanBessai opened #482 "License file issues"
The license file is a vanilla copy of the Apache License. Its text says that the file needs to be modified, including mentioning of a copyright owner [here](https://github.com/milessabin/shapeless/blob/master/LICENSE#L190).

[2015-10-23 18:31] milessabin commented on #482
Looking again, I think this is just fine. The LICENSE file is a pristine copy of the license document and appears in exactly the same unmodified form in all the canonical Apache projects I've just checked against. The key thing is that the boilerplate text in the appendix be filled out and added to all the relevant source files, and that's always been the case.

Thanks for taking the time to check

[2015-10-23 18:31] #482 closed

[2015-10-24 13:31] SethTisue opened #484 "Release for 2.12.0-M3?"
The Scala team would be interested in hearing whether you run into any trouble.

[2015-10-25 09:42] milessabin commented on #484
I bumped the cross build and travis snapshot build matrix to 2.12.0-M3 in b8f7f35fc43b6c8fdb28c0bdcff2ed5ea7379fa9 and I've just published 2.2.5 for 2.12.0-M3.

For JVM only though, there doesn't seem to be a Scala.js build for 2.12.0-M3 yet.

[2015-10-27 17:56] travisbrown commented on #162
As I mentioned [here](https://gitter.im/milessabin/shapeless?at=562fb9eda752d57c01916c10), I'm seeing this error on this code on a fresh checkout of Shapeless on both 2.11.7 and 2.12.0-M3 (and Java 7 and Java 8).

I know I've defined natural transformations in a REPL in the last few months, and I'm not sure what could have changed either in Shapeless or my system to be causing this.

[2015-10-28 10:58] milessabin commented on #484
We now have parity for Scala.js ... the Travis cross builds are good and I've published 2.2.5 for 2.12.0-M3 and Scala.js as well.

[2015-10-28 10:58] #484 closed

[2015-10-28 12:03] SethTisue commented on #484
awesome, thanks Miles!

[2015-10-29 17:53] tpolecat opened #486 "compilation time for record access depends on value types"
Following up on a Gitter conversation from a few days ago.

When accessing an element in a record the compilation time not only depends on the position of the element (as expected since you have to walk the list) but also on the type of the associated value.

[code]

[2015-10-29 21:51] fommil commented on #458
note to self, start here https://github.com/milessabin/shapeless/blob/master/core/src/main/scala/shapeless/package.scala#L110

[2015-10-29 21:54] fommil opened #487 "`everywhere' and the presentation compiler"
I can easily put together a small testcase for this: basically the presentation compiler doesn't like the `everywhere` feature. I quite like `everywhere` and I'd like it to work in the presentation compiler. Or, I should say, I'd like it not to break the presentation compiler.
1. is it even worth filing a report with upstream?
2. any ideas for a hack? I'd rather get a false negative than a false p

[2015-11-02 18:54] milessabin commented on #486
Interesting! This ought to be the same issue as #420, but clearly isn't.

[2015-11-02 18:58] milessabin commented on #487
Are you able to put together a headless presentation compiler test that could live alongside the other shapeless tests?

[2015-11-02 19:03] milessabin commented on #162
I'll take another look before 2.3.0.

[2015-11-02 22:48] fommil commented on #487
That could be tricky. Possibly. Its a lot easier in the ENSIME codebase but the relevant parts could be ported.

[2015-11-03 09:54] milessabin commented on #487
I think that if this only manifest itself in the presentation compiler and that the only straightforward way to reproduce it is in ENSIME then we're more likely to make progress on it if it's an issue there.

We do have one workaround for the PC [here](https://github.com/milessabin/shapeless/blob/master/core/src/main/scala/shapeless/lazy.scala#L186) contributed by @dragos ... it might be an idea t

[2015-11-03 10:51] torgeirsh commented on #309
The workaround compiles for me without code duplication if the implementation for the tagged hcons just calls the untagged hcons.

[2015-11-04 17:39] jarreds opened #489 "Extremely slow compile time"
This is a wonderful library. Thank you so much for working on it for the community.

I have a flat-file parser built using Shapeless, and it was working wonderfully until I added an extra ```Poly1``` to wrap function calls to catch which ```Nat``` was throwing errors when ```zipApply```ing an ```HList```.  This is also using 2.3.0 functionality, namely the ```zipWithIndex``` -- a great addition to

[2015-11-07 20:26] jarreds opened #490 "`HList.zipWithIndex` requires exponential compile time"
Running the following in a repl against 2.3.0-SNAPSHOT you will see that compile appears to be exponential for ```zipWithIndex``` as the size of the ```HList``` increases:

[code]

cc @AndreasKostler

[2015-11-07 20:26] jarreds commented on #489
Closing in favor of https://github.com/milessabin/shapeless/issues/490

[2015-11-07 20:26] #489 closed

[2015-11-07 20:29] jarreds commented on #489
Also, linked example updated to show that this doesn't happen without ```zipWithIndex``` if anyone stumbles across this.

[2015-11-11 21:26] divijan opened #495 "LabelledTypeClassCompanion-based serializer fails to compile due to file naming"
I'm using LabelledTypeClassCompanion for serialization, project is built with SBT 0.13.9.
The sealed trait that is being serialized resides in one file and actual JsonWriters are constructed in another one. If a name of the writer file lexicographically precedes the name of the file where the trait is defined, I get a compilation error. The project to illustrate this issue can be found [here](http

[2015-11-12 10:11] milessabin commented on #495
Yes, I'm afraid this is another symptom of [SI-7755](https://issues.scala-lang.org/browse/SI-7755): it's a compiler bug ... please help to lobby for it being fixed, but I'm afraid there's nothing that I can do about it here.

Nb. this affects _all_ attempts to use macros, directly or indirectly, to automate serialization of sealed families, not just shapeless based ones.

[2015-11-12 10:11] #495 closed

[2015-11-12 10:58] #490 closed

[2015-11-13 20:05] jarreds opened #496 "Strange `ToTraversable` bugs with `Enumeration` in `HList`"
This one is a puzzler. Looks like a macro issue, maybe?

[code]

[2015-11-15 15:01] alexarchambault commented on #496
I'd say it's more a "unification" (driven by [`Lub`](https://github.com/milessabin/shapeless/blob/shapeless-2.2.5/core/src/main/scala/shapeless/typeoperators.scala#L155), that `ToTraversable` uses) problem than a macro related one.

I don't really know if something can be done about it, but as a workaround, if you're fine with getting a `List[Any]` or `List[AnyRef]` from `toList`, passing it a typ

[2015-11-16 07:44] #496 closed

[2015-11-17 15:42] milessabin commented on #371
OK, the current state of play is that `Generic[TProduct.Immutable]` is fine as is, and `Generic[TProduct]` is fine if `trait TProduct` is marked as sealed.

Would this get you any further with Thrift, or is the sealed issue still a showstopper?

[2015-11-17 22:53] philwills commented on #371
I just tried this against a 2.3.0-SNAPSHOT using https://github.com/philwills/scrooge-shapeless-example and am still not able to summon a `Generic[Product.Immutable]` or `Generic[Product]`. As a consumer, rather than author of Scrooge, I'm not sure of the reasoning behind the trait's it produces not being sealed and whether there would be an issue with changing that.

[2015-11-18 12:39] milessabin commented on #371
It was the secondary constructor in `Product.Immutable` which was causing the problem there, and I now have this working for that case (not pushed yet, needs some cleanup).

Is this likely to be sufficient for your scenario? Bear in mind that due to the lack of sealing on the `Product` trait you will only get an automatic `Generic` instance if you explicitly refer to the concrete type `Product.Imm

[2015-11-19 15:27] #371 closed

[2015-11-20 09:09] milessabin commented on #371
@philwills I've added [this](https://github.com/milessabin/shapeless/blob/287707228b24bcbde30e43b7b5a9d20c18fb0333/core/src/test/scala/shapeless/generic.scala#L1088-L1125) compilation test, which corresponds directly to the generated Thrift output.

Note that because the trait is unsealed we won't be able to summon a `Generic` instance for it. Instead we have to summon a `Generic` instance for the

[2015-11-22 11:54] milessabin commented on #453
Fixed in 287707228b24bcbde30e43b7b5a9d20c18fb0333.

[2015-11-22 11:54] #453 closed

[2015-11-22 11:55] milessabin commented on #145
Shall I put this back on the backlog?

[2015-11-22 12:04] milessabin commented on #162
@travisbrown I just tried your example on a 2.11.7 REPL with the latest 2.3.0-SNAPSHOT and I'm not seeing a problem. Could you check again?

[2015-11-22 13:26] alexarchambault commented on #145
If it's a different thing than https://github.com/milessabin/shapeless/pull/459, yes!

[2015-11-22 14:27] milessabin commented on #145
Okey doke ... backlogged :-)

[2015-11-22 15:39] travisbrown commented on #162
@milessabin Looks fine to me, thanks!

[2015-11-22 17:19] milessabin commented on #162
Thanks :-)

[2015-11-22 17:19] #162 closed

[2015-11-23 13:02] #468 closed

[2015-11-23 13:05] milessabin opened #506 "Use more internal API instead of recreating trees where possible"
See discussion [here](https://gitter.im/scala/scala?at=5653079f54ba2ca242613852).

[2015-11-23 19:23] milessabin commented on #486
I'm not seeing that with the latest 2.3.0-SNAPSHOT ... SBT incremental compile time for uncommenting each of those calls individually is a constant 2s on my (modest) machine. Could you give it another try?

[2015-11-23 19:48] tpolecat commented on #486
Yep, works great in 2.3.0-SNAPSHOT. :+1:

[2015-11-23 19:50] milessabin commented on #486
Awesome ... thanks :-)

[2015-11-23 19:50] #486 closed

[2015-11-24 02:41] triggerNZ commented on #479
As an exercise in studying `Generic`, I had a look at this. It appears that this is a scala bug. Pattern matching on method-local case classes wider than 22 fields fails to compile. I raised https://issues.scala-lang.org/browse/SI-9567 (and hopefully didn't duplicate anything). There are still possible workarounds I think.

[2015-11-24 03:58] triggerNZ commented on #479
Well that was fast. Apparently fixed in https://github.com/scala/scala/pull/4862, so assuming it gets merged, this bug will disappear in 2.11.

[2015-11-24 08:59] milessabin commented on #479
Bravo! Yes, I just saw that go past. I'll check this against 2.11.8 and 2.12.0-M4 as soon as they're available.

[2015-11-24 15:19] mpilquist opened #508 "cachedImplicit does not work when used in companion"
Consider the following:
[code]
If instead of defining `Bar.foo` as a val, we define it as a def, we get a stack overflow exception.

This occurs because the implementation of `cachedImplicit` attempts to hide the implicit definition by shadowing it's name, however, because the definition is in the `Bar` companion, scalac finds the definition when searching the companion.

[2015-11-24 17:57] notxcain commented on #508
This one is a duplicate of #390

[2015-11-24 18:31] milessabin commented on #508
Oh, interesting! Yes ... the problem in that case was obscured for my by the issue with the refinements. If you don't mind I'll close that one in favour of this, because the example here is clearer (for me, anyhow).

[2015-11-24 18:32] milessabin commented on #390
Closing this in favour of #508.

[2015-11-26 12:49] fommil commented on #72
an example of an API defined in case classes and sealed traits https://github.com/ensime/ensime-server/tree/master/api/src/main/scala/org/ensime/api

much of this is just boilerplate to define an API, although some of it is actually useful domain to pass around.

[2015-11-26 20:54] fommil commented on #72
(btw, I'm pretty sure this doesn't need to be a core shapeless thing anymore, so closing)

to follow up some private gitter chat. What would be ideal is if an input file like so was parsed

[code]

(or any JSON schema really) which produces a lens-like object into a JSON AST such as spray-json.

I say json-like because I'd like to start with a parsed `d: JsValue` and be able to type `d.__metadata.

[2015-11-26 20:54] #72 closed

[2015-11-28 22:07] tpolecat commented on #486
This behavior persists when mapping, and becomes worse as the element types become fancier. Not sure if this is related/expected.

[code]

[2015-11-29 10:55] milessabin commented on #486
It's related and expected. The fix in the selection case was to replace the implicit/inference based mechanism with a specialized macro which eliminated most of the typechecking overhead. It's possible that something similar would be possible for `map`, but I think it could be a lot more problematic.

Would you mind creating a separate ticket for this ... I'll target it for shapeless 3.0.

[2015-11-29 15:51] tpolecat opened #509 "compilation time for record .map depends on value types"
Compile time when mapping over a record is a function of both the length of the record **and** the complexity of the value types. This is related to #486.

[code]

[2015-12-09 21:44] tpolecat opened #510 "Unusual OSGi manifest entry"
The `Import-Package` manifest entry includes the unusual entry `scala.quasiquotes;version="${range;[==,=+);${@}}"` which confuses Felix 4.2.1 ... it's certainly not a valid version range.

[code]

[2015-12-09 21:48] milessabin commented on #510
Tagging @mpilquist ...

[2015-12-10 00:13] tpolecat commented on #510
Package `scala.quasiquotes` is not exported by any OSGi bundle so I'm not sure what BND is supposed to do here. There's a version in the manifest but it's not really meaningful in this context.

[2015-12-11 15:55] InTheNow commented on #72
FYI, even though this is now closed;

Referenced in cats - https://github.com/non/cats/issues/18, via https://github.com/snowplow/schema-guru/issues/103, is https://github.com/snowplow/schema-guru.

@fommil Looks like this could be what you want - they even have circe support on their horizon, too https://github.com/snowplow/schema-guru/issues/104

CC/ @chuwy

[2015-12-15 18:15] milessabin opened #513 "Propagate `@implicitNotFound` messages though `Lazy`"
@xeno-by came up with a mechanism to enable this,

[code]

[2015-12-21 10:20] chuwy commented on #72
Hey @InTheNow
Thanks for reference. I settled that issue on far-away milestone. I think it's very interesting thing to explore in Schema Guru.

[2015-12-25 19:59] notxcain opened #519 "The doc on Coproduct Unifier is wrong"
[Here](https://github.com/milessabin/shapeless/blob/master/core/src/main/scala/shapeless/syntax/coproduct.scala#L182) the doc says that `Unifier` returns `Coproduct` made of `LUB`. In fact it returns the `LUB` itself.

[2015-12-27 13:34] milessabin commented on #519
Good catch ... a PR with corrected documentation would be great :-)

[2016-01-05 08:12] milessabin opened #526 "Review use of Symbol#companionXxx"
See https://github.com/scala/scala/pull/4861.

[2016-01-08 14:05] milessabin commented on #508
I've just been looking at this now. There doesn't seem to be any way of preventing lookup in `Bar`'s implicit scope analogous to the use of shadowing to frustrate direct lookup.

However, I think we can get the desired effect by importing the materializer in the body of `object Bar` or it's enclosing scope. ie.,

[code]

Note that this isn't quite the same as invoking `Foo.materialize[Bar]` direct

[2016-01-09 10:45] milessabin commented on #390
I have a fairly ugly workaround for the type annotations part of this issue,

[code]

[2016-01-09 10:46] milessabin commented on #508
@mpilquist @notxcain See also: https://github.com/milessabin/shapeless/issues/390#issuecomment-170224924.

[2016-01-10 07:16] clhodapp commented on #508
See https://github.com/milessabin/shapeless/pull/527

[2016-01-11 05:27] AndreasKostler commented on #350
I have a patch for this - however, I don't quite understand how making `F` contravariant aids with type inference in this case.

[2016-01-11 07:52] milessabin commented on #350
I have to confess that I'm not entirely sure either. As a general rule indexing a type class by a contravariant type parameter allows it to be used in context where an over-precise type has been inferred ... I'm not quite sure how that plays out in this case.

[2016-01-11 10:20] AndreasKostler commented on #350
:) Glad it's not just me ;)

[2016-01-11 10:21] AndreasKostler commented on #350
The change is trivial btw, I've just got another pr open atm.

[2016-01-11 11:55] notxcain commented on #390
I see what you did here :) And yes it's pretty ugly. I like where it goes in #527

[2016-01-12 03:44] triggerNZ commented on #445
@AndreasKostler do you mean something like:

```natList(1,2,3)``` returning ```1::2::3::HNil``` but ```natList(-2)``` not compiling?

[2016-01-12 08:23] milessabin commented on #445
I think @AndreasKostler meant 581e01f2 ... should this be closed now?

[2016-01-12 08:58] AndreasKostler commented on #445
I think @milessabin is correct - in both regards.

[2016-01-12 10:10] milessabin commented on #445
Awesome ... closing as fixed :-)

[2016-01-12 10:10] #445 closed

[2016-01-13 13:25] milessabin opened #529 "Review remaining 2.10.x vs. 2.11.x differences"
See

+ https://github.com/milessabin/shapeless/pull/515/files#diff-c8d2b03958e8b575ca9bdc3b92988078
+ https://github.com/milessabin/shapeless/pull/515/files#diff-21cd9467b2b35a579fc7910defb1d163
+ https://github.com/milessabin/shapeless/pull/515/files#diff-0b820408389801540a65e3cebeee6132
+ https://github.com/milessabin/shapeless/pull/515/files#diff-9ce08e6a1028cc0e45f4236f22695e8e
+ https://githu

[2016-01-13 13:27] dwijnand commented on #529
:+1:

and https://github.com/milessabin/shapeless/pull/515/files#diff-dcbf094c9fae87bd50d7a16e2b088beb

[2016-01-13 13:30] dwijnand opened #530 "Cleanup references to dead branches in .travis.yml"
Once dead, cleanup references to dead branches in .travis.yml, such as "scala-2.10.x"

https://github.com/milessabin/shapeless/blob/23ace5c1d99a3fda0102755f2c4487976f5473f1/.travis.yml#L18

[2016-01-26 16:36] milessabin commented on #529
Fixed via b75e1a3576fe34b264839750efc477af58f7ea22, 277b79441335f7a8486056680d9abdeb2c2ae938, f78cf4601e7bcdfc5dbecf900fa05a8ae3990294, 9d59210cc1fb9ce2ebb78dcc026a44d9b11dd6c4, 402f3f9ac85140f78c282f89cb670e5a54f6e7dd and 0021e6067301eb6ad1714122dddc7c666fbef26d.

[2016-01-26 16:36] #529 closed

[2016-01-26 16:54] dwijnand commented on #529
Excellent!

[2016-01-27 08:54] milessabin commented on #526
@retronym your advice would be very much appreciated here ...

shapeless includes uses of `Symbol#companion` and `Type#companion` where the `.info` of the result is typically what's wanted ... are these problematic?

shapeless also uses [this](https://github.com/milessabin/shapeless/blob/master/core/src/main/scala/shapeless/generic.scala#L673) version of `companionSymbolOf` cargo culted from macro

[2016-01-27 09:15] retronym commented on #526
The naive way to lookup companion's is `someClassSymbol.owner.info.decl(someSymbol.name.toTermName)`. That's what `Symbol#companionXxx` does.

However, this only works for classes enclosed in classes (including the "package class" or a package or the "module class" of an object. For classes enclosed in a method (aka a "local symbol"), the owner will be the method, but `someMethod.info` gives you t

[2016-01-27 09:31] milessabin commented on #526
Thanks. Do the same considerations apply to `Symbol#companion` and `Type#companion` and to [`patchedCompanionSymbolOf`](https://github.com/scalamacros/paradise/blob/03f96e1b7b02cfeabc2e607f7db4a9fa0895cc20/plugin/src/main/scala/org/scalamacros/paradise/typechecker/Namers.scala#L576) in macro paradise?

[2016-01-27 12:05] retronym commented on #526
Looks like they try to look up the companion in the scopes of enclosing typer contexts, as is done by `Namers#companionSymbolOf`.

I'd suggest writing some tests to convince yourself its working, though.

[2016-01-27 12:41] milessabin commented on #526
We have a ton of tests of various forms of nesting because bugs there were seen in the wild quite regularly. The `patchedCompanionSymbolOf` implementation was borrowed from macro paradise to deal with them, I think at your suggestion?

[2016-01-27 12:48] retronym commented on #526
![image](https://cloud.githubusercontent.com/assets/65551/12613855/1655be36-c548-11e5-88b7-749b9bad2623.png)

:smile:

[2016-01-27 12:49] alexarchambault commented on #526
@milessabin I added `patchedCompanionSymbolOf`, for `Default` to work for classes enclosed in a method. It's tested [here](https://github.com/milessabin/shapeless/blob/master/core/src/test/scala/shapeless/default.scala#L142). If @retronym suggests a better way to do that, he's highly probably right :-)

[2016-01-27 12:51] retronym commented on #526
Sounds like you've got it covered. You'd need to downcast to call the version in `Namers`, but maybe that's better than copy/paste.

[2016-01-27 12:58] milessabin commented on #526
@alexarchambault ahh ... my mistake :-)

I did try that using `companionSymbolOf` from `Namers` as a substitute for `patchedCompanionSymbolOf` but that resulted in a lot of failing tests ... clearly the two aren't completely equivalent, at least not in this context.

[2016-01-27 13:00] milessabin commented on #526
I think I'm going to declare victory on this one ... if anyone thinks differently, please reopen :-)

[2016-01-27 13:00] #526 closed

[2016-01-29 18:42] #513 closed

[2016-02-02 18:07] vpavkin commented on #121
looks like resolved should be closed

[2016-02-03 12:06] #519 closed

[2016-02-03 12:15] notxcain commented on #519
Thanks @vpavkin. I forgot about this one :(

[2016-02-03 12:24] milessabin commented on #121
It does. Thanks :-)

[2016-02-03 12:24] #121 closed

[2016-02-04 21:06] tpolecat commented on #510
Note also

[code]

[2016-02-04 21:10] mpilquist commented on #510
I forgot about this one, sorry!

[2016-02-08 11:14] milessabin commented on #510
I'm aiming for an RC by the end of this week ... any insight on this one?

[2016-02-08 11:20] milessabin commented on #476
Closed in #480.

[2016-02-08 11:20] #476 closed

[2016-02-08 11:22] milessabin commented on #465
I'm going to close this for now ... please reopen if inspiration strikes :-)

[2016-02-08 11:22] #465 closed

[2016-02-08 11:25] milessabin commented on #460
#371 is fixed now, and I'm not sure what it's possible to do in this issue ... I'll punt this to 2.3.1 for the time being.

[2016-02-08 11:27] lambdista commented on #465
Sure! :-)

Thank you Miles.

[2016-02-08 11:30] milessabin commented on #457
I'd be happy to have a PR for this for 2.3.1 and I also think that something along these lines will most likely drop out of the SMC redesign in shapeless 3.0.0.

[2016-02-08 11:34] milessabin commented on #456
Fixed for `HLists` and tuples in #471.

[2016-02-08 11:34] #456 closed

[2016-02-08 11:35] milessabin commented on #443
Fixed in #444.

[2016-02-08 11:35] #443 closed

[2016-02-08 11:37] milessabin commented on #359
Is this finished with now? What's the current status of JUnit for Scala.js?

[2016-02-08 11:38] milessabin commented on #358
Closing this for now ... please reopen if you think more needs to be done.

[2016-02-08 11:38] #358 closed

[2016-02-08 11:42] dwijnand commented on #359
It's supported as of Scala.js 0.6.6: http://www.scala-js.org/news/2016/01/25/announcing-scalajs-0.6.6/#support-for-junit

[2016-02-08 11:45] milessabin commented on #359
Thanks! I'll bump the Scala.js version to 0.6.6.

[2016-02-08 11:45] #359 closed

[2016-02-08 11:51] milessabin commented on #357
The experimental support for lifting polymorphic methods to `Poly` has been removed so this should no longer be an issue.

[2016-02-08 11:51] #357 closed

[2016-02-08 11:53] milessabin commented on #355
I'm not clear what happened here ... was Scala.js friendly implementation of `Typeable` added to the Scala.js branches in the end?

[2016-02-08 11:57] milessabin commented on #275
I'm going to punt this to 3.0 ... or has it been subsumed by Refined?

[2016-02-08 12:04] milessabin commented on #133
Experimental function/method promotion has been removed, so this is redundant.

[2016-02-08 12:04] #133 closed

[2016-02-08 12:08] milessabin commented on #129
Fixed in 909a6fad.

[2016-02-08 12:08] #129 closed

[2016-02-08 13:38] vil1 commented on #457
@milessabin I fail to find a `Monoid` definition in `master` (except the one defined for tests). Is that something that is planned for addition in 2.3.0, in which case I would patiently wait for it, or would a specialized version (like in the gist proposed in the description above) be enough for now ?

[2016-02-08 13:50] milessabin commented on #457
Good point. Maybe it belongs in [Kittens](https://github.com/milessabin/kittens) instead?

[2016-02-08 13:55] milessabin commented on #122
@filinep yes, definitely related. But I think we should be able to do something with, eg. `String` or `Int` singleton-typed keys too.

[2016-02-08 13:57] vil1 commented on #457
I'm not very familiar with Kittens (yet). Is transforming a `HList` to a `F[C]` (with `F:Monoid` & `C <: Coproduct`) something valuable for Kittens users ?

[2016-02-08 13:58] milessabin commented on #118
I can't remember exactly what motivated this ticket, but the typelevel CPS that we have in `Generic1` etc. probably qualifies as covering this. In shapeless 3.0 this will be generalized, so I'm going to declare victory on this as close it.

[2016-02-08 13:58] #118 closed

[2016-02-08 14:02] alexarchambault commented on #457
@vil1 You should use `CanBuildFrom` for this, like `ToTraversable` does for example. It's (very) vaguely like having a monoid - you create a builder and add elements to it.

[2016-02-08 14:02] milessabin commented on #510
Fixed in #540.

[2016-02-08 14:02] #510 closed

[2016-02-08 14:09] vil1 commented on #457
@alexarchambault that's a pretty trick I would've probably never think of ! I'll give it a try tonight.

[2016-02-11 19:41] milessabin commented on #352
Fixed in 2e1a48ef5826e9df3b0aff66ea0d84341450a4a0.

[2016-02-11 19:41] #352 closed

[2016-02-11 19:42] milessabin commented on #355
Fixed in 2e1a48ef5826e9df3b0aff66ea0d84341450a4a0.

[2016-02-11 19:42] #355 closed

[2016-02-11 19:42] milessabin commented on #530
Fixed in 2e1a48ef5826e9df3b0aff66ea0d84341450a4a0.

[2016-02-11 19:42] #530 closed

[2016-02-12 10:43] #457 closed

[2016-02-12 22:28] jrwiebe opened #545 "flatten.scala behaves unexpectedly on certain arities of nested tuples"
I noticed while doing some testing that the flatten example sometimes fails, depending on the size of the nested tuples it is passed. This is easier to explain with a few examples:

[code]
As you can see, the tuple wasn't flattened. However, if I remove the 5:
[code]
I can't figure out why some tuples aren't being matched while (most) others are.

This was tested with the latest shapeless (2.3.0-S

[2016-02-13 10:36] #545 closed

[2016-02-13 10:43] milessabin commented on #545
Good catch, thanks :-)

The problem you're seeing is that resolving the `FlatMapper` instance for the first of the two tuple types involves a recursion which revisits the same tuple type during the implicit resolution process which trips Scala's divergence checker. This is masked by the fact that there is a fallback default case available which just applies the identity. The second of the two tupl

[2016-02-14 17:57] milessabin commented on #390
Reopening because it's about to be fixed properly :-)

[2016-02-14 22:18] #390 closed

[2016-02-14 22:18] #508 closed

[2016-02-14 22:29] milessabin commented on #390
As of 49bb32ff5051b9b2650b37106d9925b7b92fcb43 the following should work as expected,

[code]

[2016-02-14 22:38] milessabin commented on #508
This should now work as expected ... many thanks to @clhodapp for pointing in the right direction :-)

[2016-02-15 00:44] clhodapp commented on #390
Whoa, careful there, @milessabin. If you do it that way, `lgen0` will find `lgen` and take `null` (similar for `gen0` and `gen`). I think you mean something more like:
[code]

[2016-02-15 00:46] clhodapp commented on #390
Also, as I noted (somewhere): `lgen eq gen` here, since `LabelledGeneric[Root] <:< Generic[Root]` and the second `cachedImplicit` finds `lgen`.

[2016-02-15 00:52] clhodapp commented on #390
That said, the issue is fixed now, as `cachedImplicit` is now sort of like `the` now in that it preserves refinements.

[2016-02-15 07:37] milessabin commented on #390
@notxcain no, I meant it exactly as written. See the test [here](https://github.com/milessabin/shapeless/blob/master/core/src/test/scala/shapeless/implicits.scala#L88-L99).

[2016-02-15 12:34] milessabin commented on #350
Fixed in 48d8be07a62815d9e6dddb6aa370f95d26353fca and 048bc8753e1726ea6497b6553621cf276efa7c70.

[2016-02-15 12:34] #350 closed

[2016-02-16 03:11] clhodapp commented on #390
Hrm. So I tried some code in a repl  both with the RC1 code and the code from my fork that had the compat hack and and the results weren't what either of us probably expected: https://gist.github.com/clhodapp/497bd765e7c8015558b9.

[2016-02-16 09:54] milessabin commented on #390
Yes, that result genuinely surprised me. It turns out the not having `LabelledGeneric[T]` extend `Generic[T]` fixes the problem. I think that's probably the right thing to do, but want to canvas other opinions on this first.

[2016-02-16 11:42] milessabin commented on #390
Fixed in e8926d163adc7015403c8296b22ed71827c585a0.

[2016-02-17 01:03] alexarchambault opened #547 "Lazy / Strict sometimes not working in 2.10"
Reproduce with
[code]

Then
[code]
The problem is that looking for a `Strict[Parser[Options]]` in the last line fails, whereas looking for a `Parser[Options]` directly succeeds (line just before the last).

Things were fine (both look ups succeeding) with shapeless 2.2, both in 2.10 and 2.11, and are still fine with shapeless 2.3.0-RC1 in 2.11.

A bit of debug showed that the first Strict derivati

[2016-02-17 11:20] milessabin commented on #547
See #367.

[2016-02-19 20:13] #547 closed

[2016-02-21 02:59] khronnuz commented on #396
Can this and the other issues related to release script be closed?

[2016-02-21 09:29] milessabin commented on #396
Ahh ... yes it should be. Your script was a huge help to me BTW :-)

[2016-02-21 09:29] #396 closed

[2016-02-21 09:32] #397 closed

[2016-02-21 09:33] #399 closed

[2016-02-21 09:34] milessabin commented on #426
Fixed in #521.

[2016-02-21 09:34] #426 closed

[2016-02-21 09:37] milessabin commented on #433
Fixed in 2e1a48ef5826e9df3b0aff66ea0d84341450a4a0.

[2016-02-21 09:37] #433 closed

[2016-02-23 13:28] khronnuz commented on #411
Assigning this to me since I have it almost ready.

[2016-02-23 15:44] milessabin commented on #411
:clap:

[2016-02-27 19:34] Taig opened #553 "cachedImplicit does not shadow lazy val definitions"
Defining a `cachedImplicit` with a `lazy val` results in a StackOverflowError since shapeless 2.3.0. On a side note it is also no longer possible to omit the type argument of `cachedImplicit` when used lazily.

[code]

[code]

[2016-02-27 19:51] milessabin commented on #553
Thanks for that. Are you able to work around this for now by dropping the `lazy` qualifier?

[2016-02-27 19:54] Taig commented on #553
It's not a blocker for me since I can move the cache definitions into the companions now. I wasn't planning to do that now, but plans just changed.

[2016-02-28 18:05] khronnuz commented on #340
This issue still manifests itself when using poly on REPL. Here are steps to reproduce:

1 open sbt
2 > scratchJVM/console
3 > `import poly._`
4 >
[code]
5 > `val sets = Set(1) :: Set("foo") :: HNil`
6 > `val opts = sets map choose`
7 that results in `java.lang.AbstractMethodError: choose$.caseUniv()Lshapeless/PolyDefns$Case;`

Note that if steps 3 and 4 are executed together in a single `:paste`

[2016-02-29 07:54] stewSquared opened #554 "HMap Key types are erased and allow for unsafe type cast"
Here's a minimal example:

[code]

Generally, this might be worked around by using an equivalent proper type rather than a type constructor. e.g. `KeyInt extends Key[Int]` (if `Key` were not a case class)

It should probably be documented somewhere that higher-kinded types are to be used as keys with caution in the current design of HMap.